In [1]:
import pandas as pd

In [2]:
df_user_click = pd.read_csv('../../db/user_clicked.csv')
df_user_profile = pd.read_csv('../../db/user_profiles.csv', encoding='cp949')

In [3]:
df_user_click.head(2)

,user_id,news_id,clicked,wdate,stock_list,industry_list,impact_score,topic
0,u1,20240223_0057,1,2024-02-23 15:30:00,"[{'stock_id': '039490', 'stock_name': '키움증권'}]","[{'stock_id': '039490', 'industry_id': '116601...",0.11,6
1,u1,20250304_0124,1,2025-03-04 08:50:00,"[{'stock_id': '003470', 'stock_name': '유안타증권'}...","[{'stock_id': '003470', 'industry_id': '116601...",0.18,1

In [21]:
df_user_profile.head(20)

,user_id,userPnl,asset,investScore,memberStocks
0,1a24821d-da7f-4790-add8-16181938eb04,-220000,7000000,5,"[{""stock_id"": ""019170"", ""stock_name"": ""신풍제약""},..."
1,9dacb43a-943c-44e0-932d-e0a595177858,37000,2500000,2,"[{""stock_id"": ""005930"", ""stock_name"": ""삼성전자""},..."
2,3b27dc64-b333-40eb-8fb1-2ba5b209ca1d,420000,15000000,3,"[{""stock_id"": ""012450"", ""stock_name"": ""한화에어로스페..."
3,d0f26ec2-b560-4dc8-ba6b-9449ee00174e,50000,1000000,2,"[{""stock_id"": ""005380"", ""stock_name"": ""현대차""}, ..."
4,b97c7af0-1611-4dbe-bb49-85f3e6b0cd81,12000,500000,1,"[{""stock_id"": ""000660"", ""stock_name"": ""SK하이닉스""}]"
5,78e23702-1fb6-413c-a384-a822859657e7,-400000,20000000,4,"[{""stock_id"": ""035720"", ""stock_name"": ""카카오""}, ..."
6,d0d71364-378f-4ada-be7e-cfacaac2eee4,-190000,8000000,5,"[{""stock_id"": ""010130"", ""stock_name"": ""고려아연""},..."
7,5064e9be-8395-479e-9d42-5e72ee7ef3bc,360000,6000000,3,"[{""stock_id"": ""267260"", ""stock_name"": ""HD현대일렉트..."
8,232da035-1b65-4af6-9a53-69f3d675e045,1000000,102200000,4,"[{""stock_id"": ""003230"", ""stock_name"": ""삼양식품""},..."
9,7da41b47-e7b3-434e-ae26-81351e09e2b6,12200000,55000000,2,"[{""stock_id"": ""039490"", ""stock_name"": ""키움증권""},..."
10,caf0be7e-b3ee-4968-956a-343526df78b8,300000,4000000,1,"[{""stock_id"": ""051900"", ""stock_name"": ""LG생활건강""..."
11,2d2bbcc6-8bd6-46ad-897a-d0ab546ee7d2,0,20000000,4,"[{""stock_id"": ""018880"", ""stock_name"": ""한온시스템""}..."
12,851cacff-922c-4cba-b87b-5caf9e0aa731,-200000,3000000,1,"[{""stock_id"": ""005930"", ""stock_name"": ""삼성전자""},..."
13,2b45ae4c-fb62-48a5-85ae-8778ad530546,1000000,10000000,2,"[{""stock_id"": ""105560"", ""stock_name"": ""KB금융""},..."
14,560ea1aa-2465-4d41-9f4a-80927413065e,1500000,15000000,3,"[{""stock_id"": ""003550"", ""stock_name"": ""LG""}, {..."
15,8bc08dd9-521a-4d05-a734-eacc465c6d9e,300000,7000000,3,"[{""stock_id"": ""006400"", ""stock_name"": ""삼성SDI""}..."
16,30afa3a2-7bbb-42e4-bbaf-dceb6f8911be,800000,8000000,4,"[{""stock_id"": ""068270"", ""stock_name"": ""셀트리온""},..."
17,49cfc71e-4205-4e3c-899d-1ffcce0faed5,1200000,9000000,4,"[{""stock_id"": ""066570"", ""stock_name"": ""LG전자""},..."
18,e636e200-63aa-4512-9e54-fe901262409e,2000000,20000000,5,"[{""stock_id"": ""247540"", ""stock_name"": ""에코프로비엠""..."
19,b849f901-7365-45f4-98b9-b2a5bc227706,2500000,25000000,5,"[{""stock_id"": ""096530"", ""stock_name"": ""씨젠""}, {..."

In [22]:
df_user_profile.to_csv('../../db/user_profile.csv', index=False)

In [7]:
uuid_list = df_user_profile['user_id'].tolist()

In [8]:
# 매핑 딕셔너리 생성
user_id_mapping = {f"u{i+1}": uuid for i, uuid in enumerate(uuid_list)}

# 매핑 적용
df_user_click["user_id"] = df_user_click["user_id"].map(user_id_mapping)

In [11]:
len(df_user_click['user_id'].unique())

20

In [12]:
df_user_click.head()

,user_id,news_id,clicked,wdate,stock_list,industry_list,impact_score,topic
0,1a24821d-da7f-4790-add8-16181938eb04,20240223_0057,1,2024-02-23 15:30:00,"[{'stock_id': '039490', 'stock_name': '키움증권'}]","[{'stock_id': '039490', 'industry_id': '116601...",0.11,6
1,1a24821d-da7f-4790-add8-16181938eb04,20250304_0124,1,2025-03-04 08:50:00,"[{'stock_id': '003470', 'stock_name': '유안타증권'}...","[{'stock_id': '003470', 'industry_id': '116601...",0.18,1
2,1a24821d-da7f-4790-add8-16181938eb04,20240619_0165,1,2024-06-19 09:55:00,"[{'stock_id': '003230', 'stock_name': '삼양식품'}]","[{'stock_id': '003230', 'industry_id': '31008'...",0.15,1
3,1a24821d-da7f-4790-add8-16181938eb04,20241008_0189,1,2024-10-08 09:08:00,"[{'stock_id': '298020', 'stock_name': '효성티앤씨'}]","[{'stock_id': '298020', 'industry_id': '32005'...",0.09,6
4,1a24821d-da7f-4790-add8-16181938eb04,20240628_0141,1,2024-06-28 09:46:00,"[{'stock_id': '097950', 'stock_name': 'CJ제일제당'}]","[{'stock_id': '097950', 'industry_id': '31008'...",0.09,1

In [13]:
df_user_click = df_user_click[['user_id', 'news_id', 'wdate']]

In [14]:
df_user_click.head()

                                user_id        news_id                wdate
0  1a24821d-da7f-4790-add8-16181938eb04  20240223_0057  2024-02-23 15:30:00
1  1a24821d-da7f-4790-add8-16181938eb04  20250304_0124  2025-03-04 08:50:00
2  1a24821d-da7f-4790-add8-16181938eb04  20240619_0165  2024-06-19 09:55:00
3  1a24821d-da7f-4790-add8-16181938eb04  20241008_0189  2024-10-08 09:08:00
4  1a24821d-da7f-4790-add8-16181938eb04  20240628_0141  2024-06-28 09:46:00

In [15]:
df_user_click.to_csv('../../db/news_2023_2025_log.csv', index=False)

In [26]:
df_user_click = pd.read_csv('../../db/news_2023_2025_log.csv')

In [27]:
df_user_click.head()

,id,user_id,news_id,wdate
0,0,1a24821d-da7f-4790-add8-16181938eb04,20240223_0057,2024-02-23 15:30:00
1,1,1a24821d-da7f-4790-add8-16181938eb04,20250304_0124,2025-03-04 08:50:00
2,2,1a24821d-da7f-4790-add8-16181938eb04,20240619_0165,2024-06-19 09:55:00
3,3,1a24821d-da7f-4790-add8-16181938eb04,20241008_0189,2024-10-08 09:08:00
4,4,1a24821d-da7f-4790-add8-16181938eb04,20240628_0141,2024-06-28 09:46:00

In [ ]:
import requests

url = f"http://43.200.17.139:8080/api/v1/userinfo/all"

try:
    response = requests.get(url)
    response.raise_for_status()
    user_datas = response.json()["data"]

    print(user_datas)
except Exception as e:
    print(f"❌ 사용자 정보 조회 실패: {str(e)}")

[]

In [19]:
user_id = "870fc0b2-c3b1-4dce-bcbb-f20d4ca0b054"
url = f"http://43.200.17.139:8080/api/v1/userinfo/{user_id}"

try:
    response = requests.get(url)
    response.raise_for_status()
    user_data = response.json()["data"]

    print(user_data)

    print(f"✅ 사용자 {user_id} 정보 조회 성공")
except Exception as e:
    print(f"❌ 사용자 {user_id} 정보 조회 실패: {str(e)}")

None
✅ 사용자 870fc0b2-c3b1-4dce-bcbb-f20d4ca0b054 정보 조회 성공

In [30]:

url = f"http://localhost:8000/users"

try:
     response = requests.get(url)
     response.raise_for_status()
     user_data = response.json()
     print(user_data)

except Exception as e:
     print(e)

[{'user_id': '1a24821d-da7f-4790-add8-16181938eb04', 'user_pnl': -220000, 'asset': 7000000, 'invest_score': 5, 'member_stocks': [{'stock_id': '019170', 'stock_name': '신풍제약'}, {'stock_id': '000100', 'stock_name': '유한양행'}]}, {'user_id': '9dacb43a-943c-44e0-932d-e0a595177858', 'user_pnl': 37000, 'asset': 2500000, 'invest_score': 2, 'member_stocks': [{'stock_id': '005930', 'stock_name': '삼성전자'}, {'stock_id': '006800', 'stock_name': '미래에셋증권'}]}, {'user_id': '3b27dc64-b333-40eb-8fb1-2ba5b209ca1d', 'user_pnl': 420000, 'asset': 15000000, 'invest_score': 3, 'member_stocks': [{'stock_id': '012450', 'stock_name': '한화에어로스페이스'}, {'stock_id': '016360', 'stock_name': '삼성증권'}, {'stock_id': '001430', 'stock_name': '세아베스틸지주'}]}, {'user_id': 'd0f26ec2-b560-4dc8-ba6b-9449ee00174e', 'user_pnl': 50000, 'asset': 1000000, 'invest_score': 2, 'member_stocks': [{'stock_id': '005380', 'stock_name': '현대차'}, {'stock_id': '017670', 'stock_name': 'SK텔레콤'}]}, {'user_id': 'b97c7af0-1611-4dbe-bb49-85f3e6b0cd81', 'user_pnl': 12000, 'asset': 500000, 'invest_score': 1, 'member_stocks': [{'stock_id': '000660', 'stock_name': 'SK하이닉스'}]}, {'user_id': '78e23702-1fb6-413c-a384-a822859657e7', 'user_pnl': -400000, 'asset': 20000000, 'invest_score': 4, 'member_stocks': [{'stock_id': '035720', 'stock_name': '카카오'}, {'stock_id': '042700', 'stock_name': '한미반도체'}, {'stock_id': '192820', 'stock_name': '코스맥스'}]}, {'user_id': 'd0d71364-378f-4ada-be7e-cfacaac2eee4', 'user_pnl': -190000, 'asset': 8000000, 'invest_score': 5, 'member_stocks': [{'stock_id': '010130', 'stock_name': '고려아연'}, {'stock_id': '352820', 'stock_name': '하이브'}]}, {'user_id': '5064e9be-8395-479e-9d42-5e72ee7ef3bc', 'user_pnl': 360000, 'asset': 6000000, 'invest_score': 3, 'member_stocks': [{'stock_id': '267260', 'stock_name': 'HD현대일렉트릭'}, {'stock_id': '034020', 'stock_name': '두산에너빌리티'}, {'stock_id': '006360', 'stock_name': 'GS건설'}]}, {'user_id': '232da035-1b65-4af6-9a53-69f3d675e045', 'user_pnl': 1000000, 'asset': 102200000, 'invest_score': 4, 'member_stocks': [{'stock_id': '003230', 'stock_name': '삼양식품'}, {'stock_id': '068270', 'stock_name': '셀트리온'}, {'stock_id': '278470', 'stock_name': '에이피알'}]}, {'user_id': '7da41b47-e7b3-434e-ae26-81351e09e2b6', 'user_pnl': 12200000, 'asset': 55000000, 'invest_score': 2, 'member_stocks': [{'stock_id': '039490', 'stock_name': '키움증권'}, {'stock_id': '086790', 'stock_name': '하나금융지주'}, {'stock_id': '005490', 'stock_name': 'POSCO홀딩스'}, {'stock_id': '005930', 'stock_name': '삼성전자'}]}, {'user_id': 'caf0be7e-b3ee-4968-956a-343526df78b8', 'user_pnl': 300000, 'asset': 4000000, 'invest_score': 1, 'member_stocks': [{'stock_id': '051900', 'stock_name': 'LG생활건강'}, {'stock_id': '035420', 'stock_name': 'NAVER'}, {'stock_id': '000270', 'stock_name': '기아'}]}, {'user_id': '2d2bbcc6-8bd6-46ad-897a-d0ab546ee7d2', 'user_pnl': 0, 'asset': 20000000, 'invest_score': 4, 'member_stocks': [{'stock_id': '018880', 'stock_name': '한온시스템'}, {'stock_id': '004170', 'stock_name': '신세계'}, {'stock_id': '138040', 'stock_name': '메리츠금융지주'}]}, {'user_id': '851cacff-922c-4cba-b87b-5caf9e0aa731', 'user_pnl': -200000, 'asset': 3000000, 'invest_score': 1, 'member_stocks': [{'stock_id': '005930', 'stock_name': '삼성전자'}, {'stock_id': '000660', 'stock_name': 'SK하이닉스'}]}, {'user_id': '2b45ae4c-fb62-48a5-85ae-8778ad530546', 'user_pnl': 1000000, 'asset': 10000000, 'invest_score': 2, 'member_stocks': [{'stock_id': '105560', 'stock_name': 'KB금융'}, {'stock_id': '032640', 'stock_name': 'LG유플러스'}]}, {'user_id': '560ea1aa-2465-4d41-9f4a-80927413065e', 'user_pnl': 1500000, 'asset': 15000000, 'invest_score': 3, 'member_stocks': [{'stock_id': '003550', 'stock_name': 'LG'}, {'stock_id': '000270', 'stock_name': '기아'}, {'stock_id': '017670', 'stock_name': 'SK텔레콤'}]}, {'user_id': '8bc08dd9-521a-4d05-a734-eacc465c6d9e', 'user_pnl': 300000, 'asset': 7000000, 'invest_score': 3, 'member_stocks': [{'stock_id': '006400', 'stock_name': '삼성SDI'}, {'stock_id': '034730', 'stock_name': 'SK'}, {'stock_id': '035420', 'stock_name': 'NAVER'}]}, {'user_id': '30afa3a2-7bbb-42e4-bbaf-dceb6f8911be', 'user_pnl': 800000, 'asset': 8000000, 'invest_score': 4, 'member_stocks': [{'stock_id': '068270', 'stock_name': '셀트리온'}, {'stock_id': '035720', 'stock_name': '카카오'}, {'stock_id': '091990', 'stock_name': '셀트리온헬스케어'}]}, {'user_id': '49cfc71e-4205-4e3c-899d-1ffcce0faed5', 'user_pnl': 1200000, 'asset': 9000000, 'invest_score': 4, 'member_stocks': [{'stock_id': '066570', 'stock_name': 'LG전자'}, {'stock_id': '000990', 'stock_name': 'DB하이텍'}, {'stock_id': '003490', 'stock_name': '대한항공'}]}, {'user_id': 'e636e200-63aa-4512-9e54-fe901262409e', 'user_pnl': 2000000, 'asset': 20000000, 'invest_score': 5, 'member_stocks': [{'stock_id': '247540', 'stock_name': '에코프로비엠'}, {'stock_id': '373220', 'stock_name': 'LG에너지솔루션'}, {'stock_id': '196170', 'stock_name': '알테오젠'}]}, {'user_id': 'b849f901-7365-45f4-98b9-b2a5bc227706', 'user_pnl': 2500000, 'asset': 25000000, 'invest_score': 5, 'member_stocks': [{'stock_id': '096530', 'stock_name': '씨젠'}, {'stock_id': '066970', 'stock_name': '엘앤에프'}, {'stock_id': '293490', 'stock_name': '카카오게임즈'}]}]