# 유저 프로파일 정의

In [1]:
user_profiles = {
    "u1": {
        "userPnl": 300000,
        "asset": 5000000,
        "investScore": 2,  # 공격형
        "topics": [3, 4],
        "memberStocks": [{"stock_id": "377300", "stock_name": "카카오페이"}],
        "memberIndustries": [
            {
                "stock_id": "377300",
                "industry_id": "116601",
                "industry_name": "금융 지원 서비스업",
            }
        ],
    },
    "u2": {
        "userPnl": -50000,
        "asset": 2000000,
        "investScore": 0,  # 안정형
        "topics": [8, 9],
        "memberStocks": [{"stock_id": "003530", "stock_name": "한화투자증권"}],
        "memberIndustries": [
            {
                "stock_id": "377300",
                "industry_id": "116601",
                "industry_name": "금융 지원 서비스업",
            }
        ],
    },
    "u3": {
        "userPnl": 100000,
        "asset": 10000000,
        "investScore": 2,  # 공격형
        "topics": [1, 7],
        "memberStocks": [
            {"stock_id": "005930", "stock_name": "삼성전자"},
            {"stock_id": "000660", "stock_name": "SK하이닉스"},
        ],
        "memberIndustries": [
            {
                "stock_id": "005930",
                "industry_id": "32604",
                "industry_name": "통신 및 방송 장비 제조업",
            }
        ],
    },
    "u4": {
        "userPnl": 50000,
        "asset": 1000000,
        "investScore": 1,  # 중립형
        "topics": [2, 3, 5],
        "memberStocks": [
            {"stock_id": "005380", "stock_name": "현대차"},
            {"stock_id": "066570", "stock_name": "LG전자"},
        ],
        "memberIndustries": [
            {
                "stock_id": "005380",
                "industry_id": "33001",
                "industry_name": "자동차용 엔진 및 자동차 제조업",
            },
            {
                "stock_id": "066570",
                "industry_id": "32604",
                "industry_name": "통신 및 방송 장비 제조업",
            },
        ],
    },
    "u5": {
        "userPnl": -200000,
        "asset": 500000,
        "investScore": 2,  # 공격형
        "topics": [1, 4],
        "memberStocks": [
            {"stock_id": "006360", "stock_name": "GS건설"},
            {"stock_id": "039490", "stock_name": "키움증권"},
            {"stock_id": "002350", "stock_name": "넥센타이어"},
        ],
        "memberIndustries": [
            {
                "stock_id": "039490",
                "industry_id": "116601",
                "industry_name": "금융 지원 서비스업",
            },
            {
                "stock_id": "002350",
                "industry_id": "32201",
                "industry_name": "고무제품 제조업",
            },
        ],
    },
    "u6": {
        "userPnl": 100000,
        "asset": 7000000,
        "investScore": 1,  # 중립형
        "topics": [6, 8, 9],
        "memberStocks": [
            {"stock_id": "034020", "stock_name": "두산에너빌리티"},
            {"stock_id": "071970", "stock_name": "HD현대마린엔진"},
            {"stock_id": "036460", "stock_name": "한국가스공사"},
        ],
        "memberIndustries": [
            {
                "stock_id": "034020",
                "industry_id": "32901",
                "industry_name": "일반 목적용 기계 제조업",
            },
            {
                "stock_id": "036460",
                "industry_id": "43502",
                "industry_name": "연료용 가스 제조 및 배관공급업",
            },
        ],
    },
    "u7": {
        "userPnl": -1000000,
        "asset": 10000,
        "investScore": 2,  
        "topics": [1, 2],
        "memberStocks": [
            {"stock_id": "042700", "stock_name": "한미반도체"},
            {"stock_id": "064350", "stock_name": "현대로템"},
        ],
        "memberIndustries": [
            {
                "stock_id": "064350",
                "industry_id": "33102",
                "industry_name": "철도장비 제조업",
            },
            {
                "stock_id": "042700",
                "industry_id": "32902",
                "industry_name": "특수 목적용 기계 제조업",
            },
        ],
    },
    "u8": {
        "userPnl": 10000000,
        "asset": 10000,
        "investScore": 0,  
        "topics": [3, 4, 9],
        "memberStocks": [
            {"stock_id": "090430", "stock_name": "아모레퍼시픽"},
            {"stock_id": "001360", "stock_name": "삼성제약"},
            {"stock_id": "012450", "stock_name": "한화에어로스페이스"},
        ],
        "memberIndustries": [
            {
                "stock_id": "090430",
                "industry_id": "32004",
                "industry_name": "기타 화학제품 제조업",
            },
            {
                "stock_id": "001360",
                "industry_id": "32102",
                "industry_name": "의약품 제조업",
            },
            {
                "stock_id": "012450",
                "industry_id": "33103",
                "industry_name": "항공기,우주선 및 부품 제조업",
            },
        ],
    },
    "u9": {
        "userPnl": 1000000,
        "asset": 102200000,
        "investScore": 1,  
        "topics": [2],
        "memberStocks": [{"stock_id": "005940", "stock_name": "NH투자증권"}],
        "memberIndustries": [
            {
                "stock_id": "039490",
                "industry_id": "116601",
                "industry_name": "금융 지원 서비스업",
            },
        ],
    },
    "u10": {
        "userPnl": 12200000,
        "asset": 55000000,
        "investScore": 0,  
        "topics": [2],
        "memberStocks": [
            {"stock_id": "005930", "stock_name": "삼성전자"},
            {"stock_id": "015760", "stock_name": "한국전력"},
            {"stock_id": "003540", "stock_name": "대신증권"},
            {"stock_id": "096770", "stock_name": "SK이노베이션"},
            {"stock_id": "005940", "stock_name": "NH투자증권"},
        ],
        "memberIndustries": [
            {"stock_id": "015760", "industry_id": "43501", "industry_name": "전기업"},
            {
                "stock_id": "096770",
                "industry_id": "31902",
                "industry_name": "석유 정제품 제조업",
            },
        ],
    },
}

In [9]:
import pandas as pd

df_raw = pd.read_csv('../../db/news_2023_2025_raw.csv')
df_meta = pd.read_csv('../../db/news_2023_2025_metadata2.csv')
df_topic = pd.read_csv('../../db/news_2023_2025_tm.csv')

In [10]:
topic_cols = [col for col in df_topic.columns if col.startswith("topic_")]
df_topic["topic"] = df_topic[topic_cols].idxmax(axis=1)
df_topic["topic"] = df_topic["topic"].str[-1]

In [11]:
df_topic.head(1)

,news_id,topic_1,topic_2,topic_3,topic_4,topic_5,topic_6,topic_7,topic_8,topic_9,topic
0,20250523_0002,0.0122,0.0119,0.0121,0.5421,0.373,0.0122,0.012,0.0122,0.0122,4

In [12]:
# 먼저 df_raw와 df_meta 병합
df_rec = pd.merge(
    df_raw[["news_id", "wdate"]],
    df_meta,
    on="news_id",
    how="left",
)

# 이어서 df_topic과 병합
df_rec = pd.merge(df_rec, df_topic, on="news_id", how="left")

# 전처리
df_rec = df_rec.dropna().reset_index(drop=True)

In [13]:
df_rec.head(1)

,news_id,wdate,summary,stock_list,stock_list_view,industry_list,impact_score,topic_1,topic_2,topic_3,topic_4,topic_5,topic_6,topic_7,topic_8,topic_9,topic
0,20250523_0002,2025-05-23 18:52:00,23일 정보기술(IT)·투자은행(IB) 업계에 따르면 국내 대표 전자결제사업자인 카...,"[{""stock_id"": ""377300"", ""stock_name"": ""카카오페이""}]","[{""stock_id"": ""377300"", ""stock_name"": ""카카오페이""}]","[{""stock_id"": ""377300"", ""industry_id"": ""116601...",0.33,0.0122,0.0119,0.0121,0.5421,0.373,0.0122,0.012,0.0122,0.0122,4

In [14]:
import pandas as pd
import json


def generate_click_log(user_profiles, news_df, max_clicks=1000):
    logs = []
    avg_impact = news_df["impact_score"].mean()

    for uid, profile in user_profiles.items():
        topics = profile["topics"]
        stocks = set(s["stock_id"] for s in profile["memberStocks"])
        industries = set(i["industry_id"] for i in profile["memberIndustries"])
        risk = profile["investScore"]
        click_count = 0

        for _, row in news_df.iterrows():
            try:
                stock_list = (
                    json.loads(row["stock_list"])
                    if isinstance(row["stock_list"], str)
                    else row["stock_list"]
                )
                industry_list = (
                    json.loads(row["industry_list"])
                    if isinstance(row["industry_list"], str)
                    else row["industry_list"]
                )
            except Exception as e:
                print(f"[Error] JSON parsing error: {e}")
                continue

            topic_match = row["topic"] in topics
            stock_match = any(
                s.get("stock_id") in stocks for s in stock_list if isinstance(s, dict)
            )
            industry_match = any(
                i.get("industry_id") in industries
                for i in industry_list
                if isinstance(i, dict)
            )
            impact = row["impact_score"]

            # 투자 성향에 따른 impact 조건
            if risk == 0:
                impact_match = impact <= avg_impact
            elif risk == 2:
                impact_match = impact >= avg_impact
            else:
                impact_match = True

            clicked = int(
                (topic_match or stock_match or industry_match) and impact_match
            )

            logs.append(
                {
                    "user_id": uid,
                    "news_id": row["news_id"],
                    "clicked": clicked,
                    "wdate": row["wdate"],
                    "stock_list": stock_list,
                    "industry_list": industry_list,
                    "impact_score": impact,
                    "topic": row["topic"],
                }
            )

            if clicked:
                click_count += 1
            if click_count >= max_clicks:
                break  # ✅ 누적 클릭 수 제한
    return pd.DataFrame(logs)

In [15]:
df_logs = generate_click_log(user_profiles, df_rec)
df_logs

,user_id,news_id,clicked,wdate,stock_list,industry_list,impact_score,topic
0,u1,20250523_0002,1,2025-05-23 18:52:00,"[{'stock_id': '377300', 'stock_name': '카카오페이'}]","[{'stock_id': '377300', 'industry_id': '116601...",0.33,4
1,u1,20250523_0004,0,2025-05-23 18:33:00,"[{'stock_id': '005930', 'stock_name': '삼성전자'}]","[{'stock_id': '005930', 'industry_id': '32604'...",0.05,9
2,u1,20250523_0007,1,2025-05-23 18:00:00,"[{'stock_id': '377300', 'stock_name': '카카오페이'}]","[{'stock_id': '377300', 'industry_id': '116601...",0.33,4
3,u1,20250523_0010,0,2025-05-23 17:52:00,"[{'stock_id': '298040', 'stock_name': '효성중공업'}]","[{'stock_id': '298040', 'industry_id': '32801'...",0.08,9
4,u1,20250523_0011,1,2025-05-23 17:52:00,"[{'stock_id': '377300', 'stock_name': '카카오페이'}]","[{'stock_id': '377300', 'industry_id': '116601...",0.33,4
...,...,...,...,...,...,...,...,...
106929,u10,20240731_0035,0,2024-07-31 16:55:00,"[{'stock_id': '005930', 'stock_name': '삼성전자'}]","[{'stock_id': '005930', 'industry_id': '32604'...",0.15,2
106930,u10,20240731_0041,0,2024-07-31 16:44:00,"[{'stock_id': '000660', 'stock_name': 'SK하이닉스'...","[{'stock_id': '000660', 'industry_id': '32601'...",0.15,7
106931,u10,20240731_0043,0,2024-07-31 16:31:00,"[{'stock_id': '000660', 'stock_name': 'SK하이닉스'...","[{'stock_id': '000660', 'industry_id': '32601'...",0.31,7
106932,u10,20240731_0059,0,2024-07-31 15:42:00,"[{'stock_id': '035720', 'stock_name': '카카오'}]","[{'stock_id': '035720', 'industry_id': '106301...",0.11,1
106933,u10,20240731_0081,1,2024-07-31 14:53:00,"[{'stock_id': '005940', 'stock_name': 'NH투자증권'}]","[{'stock_id': '005940', 'industry_id': '116601...",0.11,4

In [151]:
from tqdm import tqdm
import pandas as pd
import random


def generate_samples_strict(
    df_log, user_profiles, max_history=10, num_negatives=10, max_samples_per_user=500
):
    df_log["wdate"] = pd.to_datetime(df_log["wdate"])
    df_log = df_log.sort_values(by=["user_id", "wdate"])
    samples = []

    avg_impact = df_log["impact_score"].mean()
    grouped = df_log.groupby("user_id")

    for uid, group in tqdm(grouped, desc="Generating Samples"):
        if uid not in user_profiles:
            continue

        profile = user_profiles[uid]
        topics = profile["topics"]
        stock_ids = set(s["stock_id"] for s in profile["memberStocks"])
        industry_ids = set(i["industry_id"] for i in profile["memberIndustries"])
        risk = profile["investScore"]
        user_sample_count = 0

        for i, row in group.iterrows():
            if user_sample_count >= max_samples_per_user:
                break

            ts = row["wdate"]
            date_only = ts.date()
            nid = row["news_id"]

            history_df = group[group["wdate"] < ts]
            history_clicked = history_df[history_df["clicked"] == 1]["news_id"].tolist()
            if len(history_clicked) == 0:
                continue

            topic_ok = row["topic"] in topics
            stock_ok = any(s["stock_id"] in stock_ids for s in row["stock_list"])
            industry_ok = any(
                i["industry_id"] in industry_ids for i in row["industry_list"]
            )

            impact = row["impact_score"]
            if risk == 0:
                is_impact = impact <= avg_impact
            elif risk == 2:
                is_impact = impact >= avg_impact
            else:
                is_impact = True

            if (
                row["clicked"] == 1
                and (topic_ok or stock_ok or industry_ok)
                and is_impact
            ):
                pos = nid

                same_day = group[group["wdate"].dt.date == date_only]
                neg_pool = same_day[
                    (same_day["news_id"] != nid)
                    & (
                        (~same_day["topic"].isin(topics))
                        | ~same_day["stock_list"].apply(
                            lambda x: any(s["stock_id"] in stock_ids for s in x)
                        )
                        | ~same_day["industry_list"].apply(
                            lambda x: any(i["industry_id"] in industry_ids for i in x)
                        )
                        | same_day["impact_score"].apply(
                            lambda score: (
                                score > avg_impact
                                if risk == 0
                                else (score < avg_impact if risk == 2 else False)
                            )
                        )
                    )
                ]

                if len(neg_pool) < num_negatives:
                    continue

                negs = random.sample(neg_pool["news_id"].tolist(), num_negatives)

                samples.append(
                    {
                        "user_id": uid,
                        "clicked_history": history_clicked[-max_history:],
                        "positive": pos,
                        "negatives": negs,
                    }
                )
                user_sample_count += 1

    return pd.DataFrame(samples)

In [152]:
dataset = generate_samples_strict(df_logs, user_profiles)

Generating Samples: 100%|██████████| 10/10 [00:23<00:00,  2.35s/it]

In [153]:
dataset

,user_id,clicked_history,positive,negatives
0,u1,[20240618_0223],20240618_0171,"[20240618_0149, 20240618_0165, 20240618_0183, ..."
1,u1,"[20240618_0223, 20240618_0171]",20240619_0257,"[20240619_0263, 20240619_0255, 20240619_0319, ..."
2,u1,"[20240618_0223, 20240618_0171, 20240619_0257]",20240619_0241,"[20240619_0281, 20240619_0270, 20240619_0237, ..."
3,u1,"[20240618_0223, 20240618_0171, 20240619_0257, ...",20240619_0003,"[20240619_0135, 20240619_0323, 20240619_0290, ..."
4,u1,"[20240618_0223, 20240618_0171, 20240619_0257, ...",20240620_0275,"[20240620_0139, 20240620_0125, 20240620_0193, ..."
...,...,...,...,...
4995,u9,"[20250402_0038, 20250402_0028, 20250402_0006, ...",20250403_0100,"[20250403_0046, 20250403_0116, 20250403_0121, ..."
4996,u9,"[20250402_0028, 20250402_0006, 20250403_0142, ...",20250403_0085,"[20250403_0115, 20250403_0136, 20250403_0049, ..."
4997,u9,"[20250402_0006, 20250403_0142, 20250403_0124, ...",20250403_0081,"[20250403_0124, 20250403_0115, 20250403_0049, ..."
4998,u9,"[20250403_0142, 20250403_0124, 20250403_0123, ...",20250403_0078,"[20250403_0049, 20250403_0121, 20250403_0048, ..."
4999,u9,"[20250403_0124, 20250403_0123, 20250403_0121, ...",20250403_0076,"[20250403_0114, 20250403_0115, 20250403_0090, ..."

# 임베딩

In [65]:
from sentence_transformers import SentenceTransformer
import torch

model_name = "snunlp/KR-SBERT-V40K-klueNLI-augSTS"

# GPU가 있으면 GPU, 없으면 CPU
device = "cuda" if torch.cuda.is_available() else "cpu"

# 모델 로딩 후 디바이스 설정
model_emb = SentenceTransformer(model_name, device=device)

c:\Users\user\anaconda3\envs\test-0602\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [66]:
summary_embedding = model_emb.encode(df_rec["summary"].tolist(), show_progress_bar=True)

Batches: 100%|██████████| 430/430 [06:41<00:00,  1.07it/s]

In [67]:
df_rec["embedding"] = summary_embedding.tolist()

In [68]:
df_rec.to_csv('test.csv', index=False)

In [69]:
df_rec.head()

,news_id,wdate,summary,stock_list,stock_list_view,industry_list,impact_score,topic,embedding
0,20250523_0002,2025-05-23 18:52:00,23일 정보기술(IT)·투자은행(IB) 업계에 따르면 국내 대표 전자결제사업자인 카...,"[{""stock_id"": ""377300"", ""stock_name"": ""카카오페이""}]","[{""stock_id"": ""377300"", ""stock_name"": ""카카오페이""}]","[{""stock_id"": ""377300"", ""industry_id"": ""116601...",0.33,4,"[-0.2188969850540161, -1.4778021574020386, 0.3..."
1,20250523_0004,2025-05-23 18:33:00,세계 2위 투자은행(IB)인 골드만삭스의 사장 겸 최고운영책임자(COO)인 존 월드...,"[{""stock_id"": ""005930"", ""stock_name"": ""삼성전자""}]","[{""stock_id"": ""005930"", ""stock_name"": ""삼성전자""}]","[{""stock_id"": ""005930"", ""industry_id"": ""32604""...",0.05,9,"[-0.27986907958984375, -0.5640875101089478, -0..."
2,20250523_0007,2025-05-23 18:00:00,23일 정보기술(IT)·투자은행(IB) 업계에 따르면 카카오페이가 SSG닷컴 쓱페이...,"[{""stock_id"": ""377300"", ""stock_name"": ""카카오페이""}]","[{""stock_id"": ""377300"", ""stock_name"": ""카카오페이""}]","[{""stock_id"": ""377300"", ""industry_id"": ""116601...",0.33,4,"[-0.5892679691314697, -1.0036866664886475, 0.3..."
3,20250523_0010,2025-05-23 17:52:00,23일 효성중공업은 조 회장이 상속세 재원을 마련하기 위해 시간 외 매매로 효성중 ...,"[{""stock_id"": ""298040"", ""stock_name"": ""효성중공업""}]","[{""stock_id"": ""004800"", ""stock_name"": ""효성""}, {...","[{""stock_id"": ""298040"", ""industry_id"": ""32801""...",0.08,9,"[-0.3262605667114258, -0.4966651201248169, -0...."
4,20250523_0011,2025-05-23 17:52:00,카카오페이가 신세계 이마트 측에서 쓱페이·스마일페이 인수를 추진하고 나선 건 국내 ...,"[{""stock_id"": ""377300"", ""stock_name"": ""카카오페이""}]","[{""stock_id"": ""377300"", ""stock_name"": ""카카오페이""}]","[{""stock_id"": ""377300"", ""industry_id"": ""116601...",0.33,4,"[-0.7711154222488403, -1.1746805906295776, -0...."

In [71]:
df_emb = df_rec[['news_id', 'embedding']]
df_emb.head()

         news_id                                          embedding
0  20250523_0002  [-0.2188969850540161, -1.4778021574020386, 0.3...
1  20250523_0004  [-0.27986907958984375, -0.5640875101089478, -0...
2  20250523_0007  [-0.5892679691314697, -1.0036866664886475, 0.3...
3  20250523_0010  [-0.3262605667114258, -0.4966651201248169, -0....
4  20250523_0011  [-0.7711154222488403, -1.1746805906295776, -0....

In [97]:
import ast

df_emb["embedding"] = df_emb["embedding"].apply(
    lambda x: ast.literal_eval(x) if isinstance(x, str) else x
)

C:\Users\user\AppData\Local\Temp\ipykernel_15296\192005513.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_emb["embedding"] = df_emb["embedding"].apply(

# 모델 학습

In [154]:
import numpy as np

torch.manual_seed(42)
random.seed(42)
np.random.seed(42)

In [163]:
import torch
import torch.nn as nn
import torch.nn.functional as F
from torch.utils.data import DataLoader, Dataset, random_split

In [171]:
from torch.nn.functional import normalize


class NewsRecDataset(Dataset):
    def __init__(self, samples, news_embs):
        self.samples = samples
        self.news_embs = news_embs

    def __len__(self):
        return len(self.samples)

    def __getitem__(self, idx):
        row = self.samples[idx]

        # 정규화 적용된 벡터
        clicked_mean = normalize(
            torch.stack([self.news_embs[nid] for nid in row["clicked_history"]]).mean(
                dim=0
            ),
            dim=0,
        )
        pos_vec = normalize(self.news_embs[row["positive"]], dim=0)
        neg_vecs = normalize(
            torch.stack([self.news_embs[nid] for nid in row["negatives"]]), dim=1
        )

        return clicked_mean, pos_vec, neg_vecs

In [172]:
class TwoTowerRecommender(nn.Module):
    def __init__(self, input_dim=768, hidden_dim=128):
        super().__init__()
        self.user_tower = nn.Sequential(
            nn.Linear(input_dim, hidden_dim),
            nn.ReLU(),
            nn.Linear(hidden_dim, hidden_dim),
        )
        self.news_tower = nn.Sequential(
            nn.Linear(input_dim, hidden_dim),
            nn.ReLU(),
            nn.Linear(hidden_dim, hidden_dim),
        )

    def forward(self, clicked_embs, candidate_embs):
        # clicked_embs: [B, N, D] → 평균 → [B, D]
        user_vec = clicked_embs
        user_vec = F.normalize(self.user_tower(user_vec), dim=1)  # [B, H]

        # candidate_embs: [B, K+1, D]
        item_vecs = F.normalize(self.news_tower(candidate_embs), dim=2)  # [B, K+1, H]

        # 유사도 계산: [B, 1, H] · [B, H, K+1] → [B, K+1]
        scores = torch.matmul(user_vec.unsqueeze(1), item_vecs.transpose(1, 2)).squeeze(
            1
        )
        return scores

In [173]:
# 🔹 손실 함수: InfoNCE (positive는 항상 index 0)
def contrastive_loss(scores):
    labels = torch.zeros(scores.size(0), dtype=torch.long)
    return F.cross_entropy(scores, labels)

# 🔹 평가 지표: Top-1 Accuracy, MRR, Recall@K
def evaluate(model, loader, k=3):
    model.eval()
    top1_correct, mrr_total, recall_total, total = 0, 0, 0, 0

    with torch.no_grad():
        for clicked, pos, negs in loader:
            candidates = torch.cat([pos.unsqueeze(1), negs], dim=1)
            scores = model(clicked, candidates)

            # Top-1 Accuracy
            labels = torch.zeros(scores.size(0), dtype=torch.long)  # 정답 인덱스가 항상 0인 경우

            top1_correct += (scores.argmax(dim=1) == labels).sum().item()

            # MRR 계산
            ranks = (scores.argsort(dim=1, descending=True) == labels.unsqueeze(1)).nonzero(as_tuple=False)
            mrr_total += sum([1.0 / (r.item() + 1) for r in ranks[:, 1]])

            # Recall@K
            topk = scores.topk(k, dim=1).indices
            recall_total += (topk == labels.unsqueeze(1)).any(dim=1).sum().item()
            total += clicked.size(0)

    print(f"[Eval] Top-1 Acc: {top1_correct/total:.4f} | MRR: {mrr_total/total:.4f} | Recall@{k}: {recall_total}")

In [174]:
import torch

# news_embedding: DataFrame → Dict[str, Tensor]
news_embeddings = {
    row["news_id"]: torch.tensor(row["embedding"], dtype=torch.float32)
    for _, row in df_emb.iterrows()
}

# samples: DataFrame → List[Dict]
sample_data = []
for _, row in dataset.iterrows():
    sample_data.append(
        {
            "user_id": row["user_id"],
            "clicked_history": row["clicked_history"],
            "positive": row["positive"],
            "negatives": row["negatives"],
        }
    )

In [175]:
class EarlyStopping:
    def __init__(self, patience=3, verbose=True):
        self.patience = patience
        self.counter = 0
        self.best_score = None
        self.early_stop = False
        self.verbose = verbose

    def __call__(self, val_loss):
        score = -val_loss  # loss가 낮을수록 좋은 것이므로 부호 반전

        if self.best_score is None:
            self.best_score = score
        elif score < self.best_score:
            self.counter += 1
            if self.verbose:
                print(f"⏳ EarlyStopping counter: {self.counter}/{self.patience}")
            if self.counter >= self.patience:
                self.early_stop = True
        else:
            self.best_score = score
            self.counter = 0

In [177]:
from sklearn.model_selection import train_test_split
from torch.optim import AdamW
from torch.optim.lr_scheduler import ReduceLROnPlateau

# 🔹 학습/검증 분리
train_data, val_data = train_test_split(sample_data, test_size=0.3, random_state=42)

train_loader = DataLoader(
    NewsRecDataset(train_data, news_embeddings), batch_size=32, shuffle=True
)
val_loader = DataLoader(
    NewsRecDataset(val_data, news_embeddings), batch_size=32, shuffle=False
)

# 🔹 모델 초기화
model = TwoTowerRecommender()
optimizer = AdamW(model.parameters(), lr=1e-3, weight_decay=0.01)

# 🔹 스케줄러: val_loss가 줄지 않으면 LR 감소
scheduler = ReduceLROnPlateau(
    optimizer, mode="min", factor=0.5, patience=1, min_lr=1e-5
)


# 🔹 학습 루프
from torch.utils.data import DataLoader
import torch.nn.functional as F

# 🔹 학습 루프 (디버깅 추가)
early_stopper = EarlyStopping(patience=3, verbose=True)

for epoch in range(20):  # 더 길게 잡아도 early stopping이 막아줌
    model.train()
    total_loss = 0

    for batch_idx, (clicked, pos, negs) in enumerate(train_loader):
        try:
            candidates = torch.cat([pos.unsqueeze(1), negs], dim=1)
            scores = model(clicked, candidates)
            loss = contrastive_loss(scores)

            optimizer.zero_grad()
            loss.backward()
            optimizer.step()

            total_loss += loss.item()

        except Exception as e:
            print(f"[❌ Error in Batch {batch_idx}]: {type(e).__name__}: {e}")

    avg_train_loss = total_loss / len(train_loader)
    print(f"\n✅ [Epoch {epoch+1}] Avg Train Loss: {avg_train_loss:.4f}")

    # 🔹 검증 루프 → loss 계산
    model.eval()
    val_total_loss = 0
    with torch.no_grad():
        for clicked, pos, negs in val_loader:
            candidates = torch.cat([pos.unsqueeze(1), negs], dim=1)
            scores = model(clicked, candidates)
            val_loss = contrastive_loss(scores)
            val_total_loss += val_loss.item()
    avg_val_loss = val_total_loss / len(val_loader)
    print(f"[Eval] Val Loss: {avg_val_loss:.4f}")

    # 🔹 스케줄러 및 EarlyStopping 적용
    scheduler.step(avg_val_loss)
    early_stopper(avg_val_loss)
    if early_stopper.early_stop:
        print("🛑 Early stopping triggered!")
        break

    # 🔹 평가 지표 출력
    evaluate(model, val_loader)

✅ [Epoch 1] Avg Train Loss: 2.3532
[Eval] Val Loss: 2.2912
[Eval] Top-1 Acc: 0.1567 | MRR: 0.3666 | Recall@3: 645

✅ [Epoch 2] Avg Train Loss: 2.2524
[Eval] Val Loss: 2.2536
[Eval] Top-1 Acc: 0.1780 | MRR: 0.3881 | Recall@3: 683

✅ [Epoch 3] Avg Train Loss: 2.1928
[Eval] Val Loss: 2.2565
⏳ EarlyStopping counter: 1/3
[Eval] Top-1 Acc: 0.1847 | MRR: 0.3897 | Recall@3: 681

✅ [Epoch 4] Avg Train Loss: 2.1569
[Eval] Val Loss: 2.2471
[Eval] Top-1 Acc: 0.1807 | MRR: 0.3908 | Recall@3: 700

✅ [Epoch 5] Avg Train Loss: 2.1162
[Eval] Val Loss: 2.2582
⏳ EarlyStopping counter: 1/3
[Eval] Top-1 Acc: 0.1780 | MRR: 0.3865 | Recall@3: 677

✅ [Epoch 6] Avg Train Loss: 2.0839
[Eval] Val Loss: 2.2490
⏳ EarlyStopping counter: 2/3
[Eval] Top-1 Acc: 0.1753 | MRR: 0.3877 | Recall@3: 686

✅ [Epoch 7] Avg Train Loss: 2.0237
[Eval] Val Loss: 2.2632
⏳ EarlyStopping counter: 3/3
🛑 Early stopping triggered!

# 모델 저장

In [178]:
import torch

# 예시 입력 (1명의 사용자, 클릭 5개, 후보 10개, 임베딩 dim=768)
dummy_clicked = torch.randn(1, 5, 768)  # [B, N, D]
dummy_candidates = torch.randn(1, 10, 768)  # [B, K, D]

# 모델 저장
torch.onnx.export(
    model,
    (dummy_clicked, dummy_candidates),
    "two_tower_model.onnx",
    input_names=["clicked", "candidates"],
    output_names=["scores"],
    dynamic_axes={
        "clicked": {1: "click_seq_len"},  # 클릭 히스토리 길이
        "candidates": {1: "num_candidates"},  # 후보 개수
    },
    opset_version=11,
)
print("✅ ONNX 모델 저장 완료")

✅ ONNX 모델 저장 완료

In [186]:
import onnxruntime as ort
import numpy as np

# ONNX 세션 생성
session = ort.InferenceSession("../../modelapi/models/two_tower_model.onnx")

# 테스트용 데이터 (1명의 사용자, 클릭 3개, 후보 5개)
clicked_np = np.random.randn(1, 3, 768).astype(np.float32)
candidates_np = np.random.randn(1, 20, 768).astype(np.float32)

# 추론
outputs = session.run(None, {"clicked": clicked_np, "candidates": candidates_np})

# 결과
scores = outputs[0]  # [1, 5]
top_k = scores[0].argsort()[::-1][:1]  # Top-3 추천 인덱스
print("✅ 예측 결과 (Top-3 후보 인덱스):\n", top_k[0])

✅ 예측 결과 (Top-3 후보 인덱스):
 [14  0  2 16 19 13 15  1 10  7  9  4 17  5  8  3  6 18 11 12]

In [188]:
clicked_np

array([[[ 0.6354111 , -1.2576529 , -1.7750574 , ..., -0.6196497 ,
         -0.35909462,  0.15132257],
        [-1.6301607 ,  0.30167234, -0.0235502 , ...,  2.0922158 ,
         -0.11854904,  1.4226091 ],
        [-0.16099419,  0.43341526,  1.5359936 , ..., -1.7043431 ,
          0.62846166,  1.9547269 ]]], dtype=float32)

# ML모델 학습 데이터 구성

In [17]:
df_users = pd.DataFrame(
    [
        {
            "user_id": user_id,
            "userPnl": profile["userPnl"],
            "asset": profile["asset"],
            "investScore": profile["investScore"],
            "topics": profile["topics"],
            "memberStocks": profile["memberStocks"],
            "memberIndustries": profile["memberIndustries"],
        }
        for user_id, profile in user_profiles.items()
    ]
)

In [18]:
df_users.head()

,user_id,userPnl,asset,investScore,topics,memberStocks,memberIndustries
0,u1,300000,5000000,2,"[3, 4]","[{'stock_id': '377300', 'stock_name': '카카오페이'}]","[{'stock_id': '377300', 'industry_id': '116601..."
1,u2,-50000,2000000,0,"[8, 9]","[{'stock_id': '003530', 'stock_name': '한화투자증권'}]","[{'stock_id': '377300', 'industry_id': '116601..."
2,u3,100000,10000000,2,"[1, 7]","[{'stock_id': '005930', 'stock_name': '삼성전자'},...","[{'stock_id': '005930', 'industry_id': '32604'..."
3,u4,50000,1000000,1,"[2, 3, 5]","[{'stock_id': '005380', 'stock_name': '현대차'}, ...","[{'stock_id': '005380', 'industry_id': '33001'..."
4,u5,-200000,500000,2,"[1, 4]","[{'stock_id': '006360', 'stock_name': 'GS건설'},...","[{'stock_id': '039490', 'industry_id': '116601..."

In [20]:
df_logs.head()

,user_id,news_id,clicked,wdate,stock_list,industry_list,impact_score,topic
0,u1,20250523_0002,1,2025-05-23 18:52:00,"[{'stock_id': '377300', 'stock_name': '카카오페이'}]","[{'stock_id': '377300', 'industry_id': '116601...",0.33,4
1,u1,20250523_0004,0,2025-05-23 18:33:00,"[{'stock_id': '005930', 'stock_name': '삼성전자'}]","[{'stock_id': '005930', 'industry_id': '32604'...",0.05,9
2,u1,20250523_0007,1,2025-05-23 18:00:00,"[{'stock_id': '377300', 'stock_name': '카카오페이'}]","[{'stock_id': '377300', 'industry_id': '116601...",0.33,4
3,u1,20250523_0010,0,2025-05-23 17:52:00,"[{'stock_id': '298040', 'stock_name': '효성중공업'}]","[{'stock_id': '298040', 'industry_id': '32801'...",0.08,9
4,u1,20250523_0011,1,2025-05-23 17:52:00,"[{'stock_id': '377300', 'stock_name': '카카오페이'}]","[{'stock_id': '377300', 'industry_id': '116601...",0.33,4

In [26]:
df_logs = df_logs.drop(columns=['topic'])

In [27]:
df_ml_dataset = pd.merge(df_logs, df_users, on=["user_id"], how="left")

In [29]:
df_ml_dataset.head()

,user_id,news_id,clicked,wdate,stock_list,industry_list,impact_score,userPnl,asset,investScore,topics,memberStocks,memberIndustries
0,u1,20250523_0002,1,2025-05-23 18:52:00,"[{'stock_id': '377300', 'stock_name': '카카오페이'}]","[{'stock_id': '377300', 'industry_id': '116601...",0.33,300000,5000000,2,"[3, 4]","[{'stock_id': '377300', 'stock_name': '카카오페이'}]","[{'stock_id': '377300', 'industry_id': '116601..."
1,u1,20250523_0004,0,2025-05-23 18:33:00,"[{'stock_id': '005930', 'stock_name': '삼성전자'}]","[{'stock_id': '005930', 'industry_id': '32604'...",0.05,300000,5000000,2,"[3, 4]","[{'stock_id': '377300', 'stock_name': '카카오페이'}]","[{'stock_id': '377300', 'industry_id': '116601..."
2,u1,20250523_0007,1,2025-05-23 18:00:00,"[{'stock_id': '377300', 'stock_name': '카카오페이'}]","[{'stock_id': '377300', 'industry_id': '116601...",0.33,300000,5000000,2,"[3, 4]","[{'stock_id': '377300', 'stock_name': '카카오페이'}]","[{'stock_id': '377300', 'industry_id': '116601..."
3,u1,20250523_0010,0,2025-05-23 17:52:00,"[{'stock_id': '298040', 'stock_name': '효성중공업'}]","[{'stock_id': '298040', 'industry_id': '32801'...",0.08,300000,5000000,2,"[3, 4]","[{'stock_id': '377300', 'stock_name': '카카오페이'}]","[{'stock_id': '377300', 'industry_id': '116601..."
4,u1,20250523_0011,1,2025-05-23 17:52:00,"[{'stock_id': '377300', 'stock_name': '카카오페이'}]","[{'stock_id': '377300', 'industry_id': '116601...",0.33,300000,5000000,2,"[3, 4]","[{'stock_id': '377300', 'stock_name': '카카오페이'}]","[{'stock_id': '377300', 'industry_id': '116601..."

In [31]:
df_ml_dataset.head()

,user_id,news_id,clicked,wdate,stock_list,industry_list,impact_score,userPnl,asset,investScore,...,topic_1,topic_2,topic_3,topic_4,topic_5,topic_6,topic_7,topic_8,topic_9,topic
0,u1,20250523_0002,1,2025-05-23 18:52:00,"[{'stock_id': '377300', 'stock_name': '카카오페이'}]","[{'stock_id': '377300', 'industry_id': '116601...",0.33,300000,5000000,2,...,0.0122,0.0119,0.0121,0.5421,0.3730,0.0122,0.0120,0.0122,0.0122,4
1,u1,20250523_0004,0,2025-05-23 18:33:00,"[{'stock_id': '005930', 'stock_name': '삼성전자'}]","[{'stock_id': '005930', 'industry_id': '32604'...",0.05,300000,5000000,2,...,0.0097,0.0096,0.0097,0.1966,0.0104,0.2332,0.0098,0.1834,0.3376,9
2,u1,20250523_0007,1,2025-05-23 18:00:00,"[{'stock_id': '377300', 'stock_name': '카카오페이'}]","[{'stock_id': '377300', 'industry_id': '116601...",0.33,300000,5000000,2,...,0.0114,0.0114,0.0116,0.5937,0.3260,0.0114,0.0113,0.0115,0.0118,4
3,u1,20250523_0010,0,2025-05-23 17:52:00,"[{'stock_id': '298040', 'stock_name': '효성중공업'}]","[{'stock_id': '298040', 'industry_id': '32801'...",0.08,300000,5000000,2,...,0.0146,0.0145,0.0147,0.1025,0.1528,0.0145,0.0945,0.0147,0.5772,9
4,u1,20250523_0011,1,2025-05-23 17:52:00,"[{'stock_id': '377300', 'stock_name': '카카오페이'}]","[{'stock_id': '377300', 'industry_id': '116601...",0.33,300000,5000000,2,...,0.1741,0.0130,0.0969,0.4690,0.0131,0.0132,0.0128,0.1948,0.0130,4

In [34]:
# is_same_stock, is_same_industry 계산 함수
def check_overlap(news_list, user_list, key):
    news_ids = {item[key] for item in news_list}
    user_ids = {item[key] for item in user_list}
    return int(len(news_ids & user_ids) > 0)


# 적용
df_ml_dataset["is_same_stock"] = df_ml_dataset.apply(
    lambda row: check_overlap(row["stock_list"], row["memberStocks"], "stock_id"),
    axis=1,
)
df_ml_dataset["is_same_industry"] = df_ml_dataset.apply(
    lambda row: check_overlap(
        row["industry_list"], row["memberIndustries"], "industry_id"
    ),
    axis=1,
)

In [35]:
df_ml_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106934 entries, 0 to 106933
Data columns (total 25 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_id           106934 non-null  object
 1   news_id           106934 non-null  object
 2   clicked           106934 non-null  int64
 3   wdate             106934 non-null  object
 4   stock_list        106934 non-null  object
 5   industry_list     106934 non-null  object
 6   impact_score      106934 non-null  float64
 7   userPnl           106934 non-null  int64
 8   asset             106934 non-null  int64
 9   investScore       106934 non-null  int64
 10  topics            106934 non-null  object
 11  memberStocks      106934 non-null  object
 12  memberIndustries  106934 non-null  object
 13  topic_1           106934 non-null  float64
 14  topic_2           106934 non-null  float64
 15  topic_3           106934 non-null  float64
 16  topic_4           106934 non-null  float64
 17  topic_5           106934 non-null  float64
 18  topic_6           106934 non-null  float64
 19  topic_7           106934 non-null  float64
 20  topic_8           106934 non-null  float64
 21  topic_9           106934 non-null  float64
 22  topic             106934 non-null  object
 23  is_same_stock     106934 non-null  int64
 24  is_same_industry  106934 non-null  int64
dtypes: float64(10), int64(6), object(9)
memory usage: 20.4+ MB

In [37]:
df_ml_dataset = df_ml_dataset[
    [
        "user_id",
        "userPnl",
        "asset",
        "investScore",

        "news_id",
        "topic_1",
        "topic_2",
        "topic_3",
        "topic_4",
        "topic_5",
        "topic_6",
        "topic_7",
        "topic_8",
        "topic_9",
        "topic",
        
        "is_same_stock",
        "is_same_industry",
        "clicked"
    ]
]

In [38]:
df_ml_dataset

,user_id,userPnl,asset,investScore,news_id,topic_1,topic_2,topic_3,topic_4,topic_5,topic_6,topic_7,topic_8,topic_9,topic,is_same_stock,is_same_industry,clicked
0,u1,300000,5000000,2,20250523_0002,0.0122,0.0119,0.0121,0.5421,0.3730,0.0122,0.0120,0.0122,0.0122,4,1,1,1
1,u1,300000,5000000,2,20250523_0004,0.0097,0.0096,0.0097,0.1966,0.0104,0.2332,0.0098,0.1834,0.3376,9,0,0,0
2,u1,300000,5000000,2,20250523_0007,0.0114,0.0114,0.0116,0.5937,0.3260,0.0114,0.0113,0.0115,0.0118,4,1,1,1
3,u1,300000,5000000,2,20250523_0010,0.0146,0.0145,0.0147,0.1025,0.1528,0.0145,0.0945,0.0147,0.5772,9,0,0,0
4,u1,300000,5000000,2,20250523_0011,0.1741,0.0130,0.0969,0.4690,0.0131,0.0132,0.0128,0.1948,0.0130,4,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106929,u10,12200000,55000000,0,20240731_0035,0.0173,0.5559,0.3235,0.0170,0.0173,0.0179,0.0171,0.0170,0.0170,2,1,0,0
106930,u10,12200000,55000000,0,20240731_0041,0.0090,0.0091,0.0652,0.0089,0.0843,0.0089,0.7964,0.0090,0.0092,7,1,0,0
106931,u10,12200000,55000000,0,20240731_0043,0.1818,0.0072,0.0072,0.0072,0.0072,0.0073,0.7675,0.0072,0.0073,7,0,0,0
106932,u10,12200000,55000000,0,20240731_0059,0.7320,0.0185,0.0185,0.1360,0.0187,0.0193,0.0187,0.0194,0.0188,1,0,0,0
106933,u10,12200000,55000000,0,20240731_0081,0.0146,0.0147,0.0148,0.4809,0.0147,0.0147,0.0151,0.0147,0.4158,4,1,0,1

In [40]:
df_ml_dataset = df_ml_dataset.rename(columns={"topic": "main_topic"})

In [41]:
df_ml_dataset.head()

,user_id,userPnl,asset,investScore,news_id,topic_1,topic_2,topic_3,topic_4,topic_5,topic_6,topic_7,topic_8,topic_9,main_topic,is_same_stock,is_same_industry,clicked
0,u1,300000,5000000,2,20250523_0002,0.0122,0.0119,0.0121,0.5421,0.3730,0.0122,0.0120,0.0122,0.0122,4,1,1,1
1,u1,300000,5000000,2,20250523_0004,0.0097,0.0096,0.0097,0.1966,0.0104,0.2332,0.0098,0.1834,0.3376,9,0,0,0
2,u1,300000,5000000,2,20250523_0007,0.0114,0.0114,0.0116,0.5937,0.3260,0.0114,0.0113,0.0115,0.0118,4,1,1,1
3,u1,300000,5000000,2,20250523_0010,0.0146,0.0145,0.0147,0.1025,0.1528,0.0145,0.0945,0.0147,0.5772,9,0,0,0
4,u1,300000,5000000,2,20250523_0011,0.1741,0.0130,0.0969,0.4690,0.0131,0.0132,0.0128,0.1948,0.0130,4,1,1,1

In [44]:
df_ml_dataset.to_csv('../../db/recommend_ml_dataset.csv', index=False)

In [45]:
df_test = pd.read_csv('../../db/recommend_ml_dataset.csv')
df_test.head()

,user_id,userPnl,asset,investScore,news_id,topic_1,topic_2,topic_3,topic_4,topic_5,topic_6,topic_7,topic_8,topic_9,main_topic,is_same_stock,is_same_industry,clicked
0,u1,300000,5000000,2,20250523_0002,0.0122,0.0119,0.0121,0.5421,0.3730,0.0122,0.0120,0.0122,0.0122,4,1,1,1
1,u1,300000,5000000,2,20250523_0004,0.0097,0.0096,0.0097,0.1966,0.0104,0.2332,0.0098,0.1834,0.3376,9,0,0,0
2,u1,300000,5000000,2,20250523_0007,0.0114,0.0114,0.0116,0.5937,0.3260,0.0114,0.0113,0.0115,0.0118,4,1,1,1
3,u1,300000,5000000,2,20250523_0010,0.0146,0.0145,0.0147,0.1025,0.1528,0.0145,0.0945,0.0147,0.5772,9,0,0,0
4,u1,300000,5000000,2,20250523_0011,0.1741,0.0130,0.0969,0.4690,0.0131,0.0132,0.0128,0.1948,0.0130,4,1,1,1