In [59]:
import pandas as pd

df = pd.read_csv('/Users/JooAnLee/final_project/db/news_2023_2025_summarized.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14087 entries, 0 to 14086
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   news_id               14087 non-null  object
 1   wdate                 14087 non-null  object
 2   title                 14087 non-null  object
 3   article               14087 non-null  object
 4   press                 14087 non-null  object
 5   url                   14087 non-null  object
 6   image                 14087 non-null  object
 7   article_preprocessed  14087 non-null  object
 8   summary               14087 non-null  object
 9   stock_list            14087 non-null  object
 10  industry_list         14087 non-null  object
 11  summary_embedding     14087 non-null  object
dtypes: object(12)
memory usage: 1.3+ MB

In [60]:
pip install pykrx

Requirement already satisfied: pykrx in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (1.0.51)
Requirement already satisfied: requests in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from pykrx) (2.32.3)
Requirement already satisfied: pandas in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from pykrx) (2.2.3)
Requirement already satisfied: datetime in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from pykrx) (5.5)
Requirement already satisfied: numpy in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from pykrx) (2.0.2)
Requirement already satisfied: xlrd in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from pykrx) (2.0.1)
Requirement already satisfied: deprecated in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from pykrx) (1.2.18)
Requirement already satisfied: multipledispatch in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from pykrx) (1.0.0)
Requirement already satisfied: matplotlib in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from pykrx) (3.9.4)
Requirement already satisfied: zope.interface in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from datetime->pykrx) (7.2)
Requirement already satisfied: pytz in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from datetime->pykrx) (2025.2)
Requirement already satisfied: wrapt<2,>=1.10 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from deprecated->pykrx) (1.17.2)
Requirement already satisfied: contourpy>=1.0.1 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from matplotlib->pykrx) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from matplotlib->pykrx) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from matplotlib->pykrx) (4.58.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from matplotlib->pykrx) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from matplotlib->pykrx) (25.0)
Requirement already satisfied: pillow>=8 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from matplotlib->pykrx) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from matplotlib->pykrx) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from matplotlib->pykrx) (2.9.0.post0)
Requirement already satisfied: importlib-resources>=3.2.0 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from matplotlib->pykrx) (6.5.2)
Requirement already satisfied: zipp>=3.1.0 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from importlib-resources>=3.2.0->matplotlib->pykrx) (3.22.0)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib->pykrx) (1.17.0)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from pandas->pykrx) (2025.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from requests->pykrx) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from requests->pykrx) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from requests->pykrx) (1.26.20)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from requests->pykrx) (2025.4.26)
Requirement already satisfied: setuptools in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from zope.interface->datetime->pykrx) (78.1.1)
Note: you may need to restart the kernel to use updated packages.

In [61]:
pip install --upgrade pykrx

Requirement already satisfied: pykrx in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (1.0.51)
Requirement already satisfied: requests in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from pykrx) (2.32.3)
Requirement already satisfied: pandas in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from pykrx) (2.2.3)
Requirement already satisfied: datetime in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from pykrx) (5.5)
Requirement already satisfied: numpy in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from pykrx) (2.0.2)
Requirement already satisfied: xlrd in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from pykrx) (2.0.1)
Requirement already satisfied: deprecated in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from pykrx) (1.2.18)
Requirement already satisfied: multipledispatch in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from pykrx) (1.0.0)
Requirement already satisfied: matplotlib in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from pykrx) (3.9.4)
Requirement already satisfied: zope.interface in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from datetime->pykrx) (7.2)
Requirement already satisfied: pytz in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from datetime->pykrx) (2025.2)
Requirement already satisfied: wrapt<2,>=1.10 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from deprecated->pykrx) (1.17.2)
Requirement already satisfied: contourpy>=1.0.1 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from matplotlib->pykrx) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from matplotlib->pykrx) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from matplotlib->pykrx) (4.58.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from matplotlib->pykrx) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from matplotlib->pykrx) (25.0)
Requirement already satisfied: pillow>=8 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from matplotlib->pykrx) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from matplotlib->pykrx) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from matplotlib->pykrx) (2.9.0.post0)
Requirement already satisfied: importlib-resources>=3.2.0 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from matplotlib->pykrx) (6.5.2)
Requirement already satisfied: zipp>=3.1.0 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from importlib-resources>=3.2.0->matplotlib->pykrx) (3.22.0)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib->pykrx) (1.17.0)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from pandas->pykrx) (2025.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from requests->pykrx) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from requests->pykrx) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from requests->pykrx) (1.26.20)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from requests->pykrx) (2025.4.26)
Requirement already satisfied: setuptools in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from zope.interface->datetime->pykrx) (78.1.1)
Note: you may need to restart the kernel to use updated packages.

In [62]:
from pykrx import stock
from pykrx import bond
import datetime

In [63]:
import ast

def extract_last_company_name(labels):
    # NaN 또는 빈 값 처리
    if pd.isna(labels) or labels == '[]' or labels == '':
        return None
    # 문자열인 경우 리스트로 변환
    if isinstance(labels, str):
        try:
            labels_list = ast.literal_eval(labels)
        except Exception:
            return None
    elif isinstance(labels, list):
        labels_list = labels
    else:
        return None
    # 빈 리스트 처리
    if not labels_list:
        return None
    # 마지막 값 반환
    return labels_list[-1]

# 적용
df['stock_name'] = df['stock_list'].apply(extract_last_company_name)

In [64]:
df.tail()

,news_id,wdate,title,article,press,url,image,article_preprocessed,summary,stock_list,industry_list,summary_embedding,stock_name
14082,20240101_0001,2024-01-01 18:30:00,통합 셀트리온 12일 상장… 잭팟 터지나,합병 전 외국인·기관 동반 매수\n올해 영업익 1조5130억 전망\n최근 증시 상승...,파이낸셜뉴스,https://n.news.naver.com/mnews/article/014/000...,https://imgnews.pstatic.net/image/014/2024/01/...,새해 출범하는 '통합 셀트리온'에 대한 기대감이 커지는 것으로 풀이된다. 외국인과 ...,외국인과 기관이 지난해 12월 삼성전자 주식을 1조4267억원어치 사들이며 전체 주...,['삼성전자'],['통신 및 방송 장비 제조업'],"[0.211165189743042, -1.0113810300827026, -0.13...",삼성전자
14083,20240101_0011,2024-01-01 18:15:00,"""빅딜 절호의 기회"" 새해부터 분주한 K제약바이오",'JP모건 헬스케어 컨퍼런스'\n삼바·셀트리온 등 대거 참여\n기술력 알리고 협력기...,파이낸셜뉴스,https://n.news.naver.com/mnews/article/014/000...,https://ssl.pstatic.net/static.news/image/news...,'JP모건 헬스케어 컨퍼런스' 삼바·셀트리온 등 대거 참여 기술력 알리고 협력기회 ...,오는 8일부터 미국 샌프란시스코에서 열리는 'JP모건 헬스케어 컨퍼런스'에 참여하는...,"['한미약품', '유한양행']","['의약품 제조업', '의약품 제조업']","[-0.2789621651172638, -0.20791760087013245, -0...",유한양행
14084,20240101_0017,2024-01-01 17:45:00,"김·김치·라면 '수출 대박'…""올핸 떡볶이·핫도그가 대열 합류""",■'차세대 한류' 노리는 식품업계\n라면·김 작년 수출액 1조원 돌파\n역대급 실적...,서울경제,https://n.news.naver.com/mnews/article/011/000...,https://imgnews.pstatic.net/image/011/2024/01/...,■'차세대 한류' 노리는 식품업계 라면·김 작년 수출액 1조원 돌파 역대급 실적에 ...,"CJ 제일001040) 제일제당은 유럽, 호주 등에서 영토를 넓힘과 동시에 오카도,...",['농심'],['기타 식품 제조업'],"[-0.6008058190345764, -0.3781067132949829, -0....",농심
14085,20240101_0032,2024-01-01 11:21:00,"외인·기관 홀린 '합병 셀트리온', 새해 잭팟 터트리나","[파이낸셜뉴스] 최근 증시 상승을 이끈 외국인, 기관 투자자들이 셀트리온그룹주를 순...",파이낸셜뉴스,https://n.news.naver.com/mnews/article/014/000...,https://imgnews.pstatic.net/image/014/2024/01/...,새해 출범하는 '합병 셀트리온'에 대한 기대감이 커지는 것으로 풀이된다. 외국인과 ...,외국인과 기관이 지난해 12월 삼성전자 주식을 1조4267억원어치 사들이며 전체 주...,"['삼성전자', '셀트리온']","['통신 및 방송 장비 제조업', '기초 의약물질 제조업']","[0.26362383365631104, -1.098483681678772, -0.1...",셀트리온
14086,20240101_0049,2024-01-01 06:03:00,태영건설 파장 속 PF-ABCP '거래 부진'…차환 우려 고개,"PF 구조조정에 건설업 기피심리↑…""익숙한 악재라 파장 적을 것"" 관측도\n워크아웃...",연합뉴스,https://n.news.naver.com/mnews/article/001/001...,https://imgnews.pstatic.net/image/001/2024/01/...,시공능력 순위 16위의 중견기업인 태영건설이 워크아웃을 신청하면서 부동산 PF 부실...,시공능력 순위 16위의 중견기업인 태영건설이 워크아웃을 신청하면서 부동산 PF 부실...,['태영건설'],['토목 건설업'],"[-0.14925730228424072, -0.5277271866798401, -0...",태영건설

In [71]:
from pykrx import stock

# 최근 영업일(예: 2024년 12월 31일)로 고정
recent_date = "2025-05-30"
kospi_tickers = stock.get_market_ticker_list(date=recent_date, market="KOSPI")
ticker_name_map = {stock.get_market_ticker_name(ticker): ticker for ticker in kospi_tickers}

In [72]:
def get_ticker_from_name(name):
    if pd.isna(name):
        return None
    return ticker_name_map.get(name)

df['ticker'] = df['stock_name'].apply(get_ticker_from_name)

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14087 entries, 0 to 14086
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   news_id               14087 non-null  object
 1   wdate                 14087 non-null  object
 2   title                 14087 non-null  object
 3   article               14087 non-null  object
 4   press                 14087 non-null  object
 5   url                   14087 non-null  object
 6   image                 14087 non-null  object
 7   article_preprocessed  14087 non-null  object
 8   summary               14087 non-null  object
 9   stock_list            14087 non-null  object
 10  industry_list         14087 non-null  object
 11  summary_embedding     14087 non-null  object
 12  stock_name            14087 non-null  object
 13  ticker                14040 non-null  object
dtypes: object(14)
memory usage: 1.5+ MB

In [74]:
missing_ticker_df = df[(df['stock_name'].notna()) & (df['ticker'].isna())]
print(f"stock_name은 있는데 ticker가 없는 행 개수: {missing_ticker_df.shape[0]}")
print(missing_ticker_df[['stock_name', 'ticker']].head(50))

stock_name은 있는데 ticker가 없는 행 개수: 47
      stock_name ticker
27         달바글로벌   None
39         달바글로벌   None
48         달바글로벌   None
53         달바글로벌   None
118        달바글로벌   None
373        달바글로벌   None
444        달바글로벌   None
448        달바글로벌   None
567        달바글로벌   None
569       서울보증보험   None
573        달바글로벌   None
591        달바글로벌   None
837        달바글로벌   None
907        달바글로벌   None
1332      씨케이솔루션   None
1881      씨케이솔루션   None
1919      서울보증보험   None
1932      서울보증보험   None
2222      서울보증보험   None
2227      서울보증보험   None
2230      서울보증보험   None
2233      서울보증보험   None
2254      씨케이솔루션   None
2255      씨케이솔루션   None
2480      씨케이솔루션   None
2529      서울보증보험   None
2900      씨케이솔루션   None
2924      LG씨엔에스   None
2954      LG씨엔에스   None
2957      LG씨엔에스   None
2972      LG씨엔에스   None
2989      LG씨엔에스   None
3137      서울보증보험   None
3138      서울보증보험   None
3140      서울보증보험   None
5000       달바글로벌   None
5038      씨케이솔루션   None
5041      씨케이솔루션   None
5084      씨케이솔루션   None
5204      씨케이솔루션   None
5468      씨케이솔루션   None
5478      씨케이솔루션   None
5671      서울보증보험   None
5769      서울보증보험   None
5804      서울보증보험   None
7420      서울보증보험   None
10907     서울보증보험   None

In [76]:
# wdate를 datetime 형식으로 변환
df['wdate'] = pd.to_datetime(df['wdate'])

# 주말(토/일)인 행의 개수 세기
num_weekend = df['wdate'].dt.weekday.isin([5, 6]).sum()
print(f"wdate가 주말인 행 개수: {num_weekend}")

wdate가 주말인 행 개수: 0

In [77]:
import pandas as pd
from datetime import timedelta
from pykrx import stock
import numpy as np

# 1. 날짜 컬럼 생성
df['wdate'] = pd.to_datetime(df['wdate'])
df['D_minus_30_date'] = df['wdate'] - timedelta(days=30)
df['D_day_date'] = df['wdate']
df['D_plus_1_date'] = df['wdate'] + timedelta(days=1)
df['D_plus_2_date'] = df['wdate'] + timedelta(days=2)
df['D_plus_3_date'] = df['wdate'] + timedelta(days=3)
df['D_plus_7_date'] = df['wdate'] + timedelta(days=7)
df['D_plus_14_date'] = df['wdate'] + timedelta(days=14)
df['D_plus_21_date'] = df['wdate'] + timedelta(days=21)
df['D_plus_30_date'] = df['wdate'] + timedelta(days=30)

# 2. 주말이면 다음 월요일로 보정
def next_monday_if_weekend(date):
    if pd.isna(date):
        return date
    weekday = date.weekday()
    if weekday == 5:  # 토요일
        return date + timedelta(days=2)
    elif weekday == 6:  # 일요일
        return date + timedelta(days=1)
    else:
        return date

cols_to_adjust = ['D_minus_30_date', 'D_plus_1_date', 'D_plus_2_date', 'D_plus_3_date', 'D_plus_30_date']
for col in cols_to_adjust:
    df[col] = df[col].apply(next_monday_if_weekend)

# 3. 필요한 날짜/종목 조합 추출
date_cols = [
    'D_minus_30_date', 'D_day_date', 'D_plus_1_date', 'D_plus_2_date',
    'D_plus_3_date', 'D_plus_7_date', 'D_plus_14_date', 'D_plus_21_date', 'D_plus_30_date'
]
all_dates = set()
for col in date_cols:
    all_dates.update(df[col].dt.strftime('%Y%m%d').tolist())
all_dates = sorted(list(all_dates))
all_tickers = df['ticker'].dropna().unique().tolist()

# 4. OHLCV 데이터 일괄 수집
ohlcv_dict = {}
for ticker in all_tickers:
    try:
        ohlcv = stock.get_market_ohlcv_by_date(
            fromdate=min(all_dates),
            todate=max(all_dates),
            ticker=ticker
        )
        ohlcv_dict[ticker] = ohlcv
    except:
        continue

# 5. 값 추출 함수
def get_ohlcv_val(ticker, date, col):
    if pd.isna(ticker) or pd.isna(date):
        return np.nan
    date_str = date.strftime('%Y%m%d')
    if ticker not in ohlcv_dict:
        return np.nan
    df_ticker = ohlcv_dict[ticker]
    if date_str not in df_ticker.index:
        return np.nan
    return df_ticker.loc[date_str, col]

# 6. 종가 컬럼 생성
df['D-30'] = df.apply(lambda row: get_ohlcv_val(row['ticker'], row['D_minus_30_date'], '종가'), axis=1)
df['close_D-day'] = df.apply(lambda row: get_ohlcv_val(row['ticker'], row['D_day_date'], '종가'), axis=1)
df['D+1'] = df.apply(lambda row: get_ohlcv_val(row['ticker'], row['D_plus_1_date'], '종가'), axis=1)
df['D+2'] = df.apply(lambda row: get_ohlcv_val(row['ticker'], row['D_plus_2_date'], '종가'), axis=1)
df['D+3'] = df.apply(lambda row: get_ohlcv_val(row['ticker'], row['D_plus_3_date'], '종가'), axis=1)
df['D+7'] = df.apply(lambda row: get_ohlcv_val(row['ticker'], row['D_plus_7_date'], '종가'), axis=1)
df['D+14'] = df.apply(lambda row: get_ohlcv_val(row['ticker'], row['D_plus_14_date'], '종가'), axis=1)
df['D+21'] = df.apply(lambda row: get_ohlcv_val(row['ticker'], row['D_plus_21_date'], '종가'), axis=1)
df['D+30'] = df.apply(lambda row: get_ohlcv_val(row['ticker'], row['D_plus_30_date'], '종가'), axis=1)

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14087 entries, 0 to 14086
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   news_id               14087 non-null  object
 1   wdate                 14087 non-null  datetime64[ns]
 2   title                 14087 non-null  object
 3   article               14087 non-null  object
 4   press                 14087 non-null  object
 5   url                   14087 non-null  object
 6   image                 14087 non-null  object
 7   article_preprocessed  14087 non-null  object
 8   summary               14087 non-null  object
 9   stock_list            14087 non-null  object
 10  industry_list         14087 non-null  object
 11  summary_embedding     14087 non-null  object
 12  stock_name            14087 non-null  object
 13  ticker                14040 non-null  object
 14  D_minus_30_date       14087 non-null  datetime64[ns]
 15  D_day_date            14087 non-null  datetime64[ns]
 16  D_plus_1_date         14087 non-null  datetime64[ns]
 17  D_plus_2_date         14087 non-null  datetime64[ns]
 18  D_plus_3_date         14087 non-null  datetime64[ns]
 19  D_plus_7_date         14087 non-null  datetime64[ns]
 20  D_plus_14_date        14087 non-null  datetime64[ns]
 21  D_plus_21_date        14087 non-null  datetime64[ns]
 22  D_plus_30_date        14087 non-null  datetime64[ns]
 23  D-30                  12479 non-null  float64
 24  close_D-day           13723 non-null  float64
 25  D+1                   13163 non-null  float64
 26  D+2                   13038 non-null  float64
 27  D+3                   13070 non-null  float64
 28  D+7                   12926 non-null  float64
 29  D+14                  12968 non-null  float64
 30  D+21                  12780 non-null  float64
 31  D+30                  12510 non-null  float64
dtypes: datetime64[ns](10), float64(9), object(13)
memory usage: 3.4+ MB

In [79]:
from pykrx import stock

# 필요한 날짜 범위
date_min = df['D_day_date'].min().strftime('%Y%m%d')
date_max = df['D_day_date'].max().strftime('%Y%m%d')
all_tickers = df['ticker'].dropna().unique().tolist()

# 종목별 데이터 캐싱
trading_dict = {}
for ticker in all_tickers:
    try:
        tv_df = stock.get_market_trading_value_by_date(date_min, date_max, ticker)
        trading_dict[ticker] = tv_df
    except:
        continue

In [80]:
def fast_trading_value(ticker, date, investor):
    if pd.isna(ticker) or pd.isna(date):
        return np.nan
    date_str = date.strftime('%Y%m%d')
    if ticker not in trading_dict:
        return np.nan
    tv_df = trading_dict[ticker]
    if date_str not in tv_df.index:
        return np.nan
    col_map = {
        '외국인': '외국인합계',
        '기관': '기관합계',
        '개인': '개인'
    }
    return tv_df.loc[date_str, col_map[investor]]

df['foreign_trading'] = df.apply(lambda row: fast_trading_value(row['ticker'], row['D_day_date'], '외국인'), axis=1)
df['institution_trading'] = df.apply(lambda row: fast_trading_value(row['ticker'], row['D_day_date'], '기관'), axis=1)
df['individual_trading'] = df.apply(lambda row: fast_trading_value(row['ticker'], row['D_day_date'], '개인'), axis=1)

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14087 entries, 0 to 14086
Data columns (total 35 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   news_id               14087 non-null  object
 1   wdate                 14087 non-null  datetime64[ns]
 2   title                 14087 non-null  object
 3   article               14087 non-null  object
 4   press                 14087 non-null  object
 5   url                   14087 non-null  object
 6   image                 14087 non-null  object
 7   article_preprocessed  14087 non-null  object
 8   summary               14087 non-null  object
 9   stock_list            14087 non-null  object
 10  industry_list         14087 non-null  object
 11  summary_embedding     14087 non-null  object
 12  stock_name            14087 non-null  object
 13  ticker                14040 non-null  object
 14  D_minus_30_date       14087 non-null  datetime64[ns]
 15  D_day_date            14087 non-null  datetime64[ns]
 16  D_plus_1_date         14087 non-null  datetime64[ns]
 17  D_plus_2_date         14087 non-null  datetime64[ns]
 18  D_plus_3_date         14087 non-null  datetime64[ns]
 19  D_plus_7_date         14087 non-null  datetime64[ns]
 20  D_plus_14_date        14087 non-null  datetime64[ns]
 21  D_plus_21_date        14087 non-null  datetime64[ns]
 22  D_plus_30_date        14087 non-null  datetime64[ns]
 23  D-30                  12479 non-null  float64
 24  close_D-day           13723 non-null  float64
 25  D+1                   13163 non-null  float64
 26  D+2                   13038 non-null  float64
 27  D+3                   13070 non-null  float64
 28  D+7                   12926 non-null  float64
 29  D+14                  12968 non-null  float64
 30  D+21                  12780 non-null  float64
 31  D+30                  12510 non-null  float64
 32  foreign_trading       13668 non-null  float64
 33  institution_trading   13668 non-null  float64
 34  individual_trading    13668 non-null  float64
dtypes: datetime64[ns](10), float64(12), object(13)
memory usage: 3.8+ MB

In [82]:
df.tail()

,news_id,wdate,title,article,press,url,image,article_preprocessed,summary,stock_list,...,D+1,D+2,D+3,D+7,D+14,D+21,D+30,foreign_trading,institution_trading,individual_trading
14082,20240101_0001,2024-01-01 18:30:00,통합 셀트리온 12일 상장… 잭팟 터지나,합병 전 외국인·기관 동반 매수\n올해 영업익 1조5130억 전망\n최근 증시 상승...,파이낸셜뉴스,https://n.news.naver.com/mnews/article/014/000...,https://imgnews.pstatic.net/image/014/2024/01/...,새해 출범하는 '통합 셀트리온'에 대한 기대감이 커지는 것으로 풀이된다. 외국인과 ...,외국인과 기관이 지난해 12월 삼성전자 주식을 1조4267억원어치 사들이며 전체 주...,['삼성전자'],...,79600.0,77000.0,76600.0,76500.0,73900.0,75100.0,72700.0,NaN,NaN,NaN
14083,20240101_0011,2024-01-01 18:15:00,"""빅딜 절호의 기회"" 새해부터 분주한 K제약바이오",'JP모건 헬스케어 컨퍼런스'\n삼바·셀트리온 등 대거 참여\n기술력 알리고 협력기...,파이낸셜뉴스,https://n.news.naver.com/mnews/article/014/000...,https://ssl.pstatic.net/static.news/image/news...,'JP모건 헬스케어 컨퍼런스' 삼바·셀트리온 등 대거 참여 기술력 알리고 협력기회 ...,오는 8일부터 미국 샌프란시스코에서 열리는 'JP모건 헬스케어 컨퍼런스'에 참여하는...,"['한미약품', '유한양행']",...,67800.0,68800.0,66300.0,64400.0,62600.0,59600.0,59200.0,NaN,NaN,NaN
14084,20240101_0017,2024-01-01 17:45:00,"김·김치·라면 '수출 대박'…""올핸 떡볶이·핫도그가 대열 합류""",■'차세대 한류' 노리는 식품업계\n라면·김 작년 수출액 1조원 돌파\n역대급 실적...,서울경제,https://n.news.naver.com/mnews/article/011/000...,https://imgnews.pstatic.net/image/011/2024/01/...,■'차세대 한류' 노리는 식품업계 라면·김 작년 수출액 1조원 돌파 역대급 실적에 ...,"CJ 제일001040) 제일제당은 유럽, 호주 등에서 영토를 넓힘과 동시에 오카도,...",['농심'],...,412500.0,410500.0,408000.0,411000.0,390500.0,375500.0,377500.0,NaN,NaN,NaN
14085,20240101_0032,2024-01-01 11:21:00,"외인·기관 홀린 '합병 셀트리온', 새해 잭팟 터트리나","[파이낸셜뉴스] 최근 증시 상승을 이끈 외국인, 기관 투자자들이 셀트리온그룹주를 순...",파이낸셜뉴스,https://n.news.naver.com/mnews/article/014/000...,https://imgnews.pstatic.net/image/014/2024/01/...,새해 출범하는 '합병 셀트리온'에 대한 기대감이 커지는 것으로 풀이된다. 외국인과 ...,외국인과 기관이 지난해 12월 삼성전자 주식을 1조4267억원어치 사들이며 전체 주...,"['삼성전자', '셀트리온']",...,221103.0,221103.0,208209.0,196748.0,179652.0,175354.0,171629.0,NaN,NaN,NaN
14086,20240101_0049,2024-01-01 06:03:00,태영건설 파장 속 PF-ABCP '거래 부진'…차환 우려 고개,"PF 구조조정에 건설업 기피심리↑…""익숙한 악재라 파장 적을 것"" 관측도\n워크아웃...",연합뉴스,https://n.news.naver.com/mnews/article/001/001...,https://imgnews.pstatic.net/image/001/2024/01/...,시공능력 순위 16위의 중견기업인 태영건설이 워크아웃을 신청하면서 부동산 PF 부실...,시공능력 순위 16위의 중견기업인 태영건설이 워크아웃을 신청하면서 부동산 PF 부실...,['태영건설'],...,5330.0,6602.0,6246.0,6500.0,5554.0,4872.0,5524.0,NaN,NaN,NaN

## 기준금리

In [83]:
base_rate = pd.read_csv('/Users/JooAnLee/final_project/eda/jooan/기준금리_2022_2025_v3.csv')
base_rate.tail()

              날짜  기준금리
1240  2025-05-25  2.75
1241  2025-05-26  2.75
1242  2025-05-27  2.75
1243  2025-05-28  2.75
1244  2025-05-29  2.50

In [84]:
import pandas as pd

# base_rate와 df의 날짜 컬럼을 datetime으로 변환
base_rate['날짜'] = pd.to_datetime(base_rate['날짜'])
df['wdate'] = pd.to_datetime(df['wdate'])

# 날짜(YYYY-MM-DD) 단위로만 매칭: 시간은 무시
df_merged = df.merge(
    base_rate,
    left_on=df['wdate'].dt.date,
    right_on=base_rate['날짜'].dt.date,
    how='left'
)

# 컬럼명 정리
df_merged.rename(columns={'기준금리': 'base_rate'}, inplace=True)
df_merged.drop(columns=['날짜', 'key_0'], errors='ignore', inplace=True)

# 결과 확인
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14087 entries, 0 to 14086
Data columns (total 36 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   news_id               14087 non-null  object
 1   wdate                 14087 non-null  datetime64[ns]
 2   title                 14087 non-null  object
 3   article               14087 non-null  object
 4   press                 14087 non-null  object
 5   url                   14087 non-null  object
 6   image                 14087 non-null  object
 7   article_preprocessed  14087 non-null  object
 8   summary               14087 non-null  object
 9   stock_list            14087 non-null  object
 10  industry_list         14087 non-null  object
 11  summary_embedding     14087 non-null  object
 12  stock_name            14087 non-null  object
 13  ticker                14040 non-null  object
 14  D_minus_30_date       14087 non-null  datetime64[ns]
 15  D_day_date            14087 non-null  datetime64[ns]
 16  D_plus_1_date         14087 non-null  datetime64[ns]
 17  D_plus_2_date         14087 non-null  datetime64[ns]
 18  D_plus_3_date         14087 non-null  datetime64[ns]
 19  D_plus_7_date         14087 non-null  datetime64[ns]
 20  D_plus_14_date        14087 non-null  datetime64[ns]
 21  D_plus_21_date        14087 non-null  datetime64[ns]
 22  D_plus_30_date        14087 non-null  datetime64[ns]
 23  D-30                  12479 non-null  float64
 24  close_D-day           13723 non-null  float64
 25  D+1                   13163 non-null  float64
 26  D+2                   13038 non-null  float64
 27  D+3                   13070 non-null  float64
 28  D+7                   12926 non-null  float64
 29  D+14                  12968 non-null  float64
 30  D+21                  12780 non-null  float64
 31  D+30                  12510 non-null  float64
 32  foreign_trading       13668 non-null  float64
 33  institution_trading   13668 non-null  float64
 34  individual_trading    13668 non-null  float64
 35  base_rate             14087 non-null  float64
dtypes: datetime64[ns](10), float64(13), object(13)
memory usage: 3.9+ MB

In [85]:
df_merged.head()

,news_id,wdate,title,article,press,url,image,article_preprocessed,summary,stock_list,...,D+2,D+3,D+7,D+14,D+21,D+30,foreign_trading,institution_trading,individual_trading,base_rate
0,20250523_0002,2025-05-23 18:52:00,"[단독] 카카오페이, 2500만 회원 쓱·스마일페이 품나…간편결제 시장 빅3 경쟁 후끈",매각가 5000억 안팎 달할듯\n결제시장 내 입지강화 포석\n카카오페이 [사진 = ...,매일경제,https://n.news.naver.com/mnews/article/009/000...,https://imgnews.pstatic.net/image/009/2025/05/...,매각가 5000억 안팎 달할듯 결제시장 내 입지강화 포석 카카오페이 국내 대표 전...,23일 정보기술(IT)·투자은행(IB) 업계에 따르면 국내 대표 전자결제사업자인 카...,['카카오페이'],...,32100.0,32100.0,37850.0,NaN,NaN,NaN,1.122348e+09,1.742804e+08,-1.333716e+09,2.75
1,20250523_0004,2025-05-23 18:33:00,"골드만삭스 차기 CEO, 이재용·김병주·이창용 만났다",[사진=연합뉴스]\n세계 2위 투자은행(IB)인 골드만삭스의 사장 겸 최고운영책임자...,매일경제,https://n.news.naver.com/mnews/article/009/000...,https://imgnews.pstatic.net/image/009/2025/05/...,세계 2위 투자은행(IB)인 골드만삭스의 사장 겸 최고운영책임자(COO)인 존 월드...,세계 2위 투자은행(IB)인 골드만삭스의 사장 겸 최고운영책임자(COO)인 존 월드...,['삼성전자'],...,54700.0,54700.0,56200.0,NaN,NaN,NaN,-1.425082e+11,-5.334769e+10,1.864062e+11,2.75
2,20250523_0007,2025-05-23 18:00:00,[단독] 전자결제 강자 카카오페이 쓱·스마일 페이 인수 추진,국내 대표 전자결제사업자인 카카오페이가 신세계이마트 산하 간편결제사업부 인수에 나섰...,매일경제,https://n.news.naver.com/mnews/article/009/000...,https://ssl.pstatic.net/static.news/image/news...,국내 대표 전자결제사업자인 카카오페이가 신세계이마트 산하 간편결제사업부 인수에 나섰...,23일 정보기술(IT)·투자은행(IB) 업계에 따르면 카카오페이가 SSG닷컴 쓱페이...,['카카오페이'],...,32100.0,32100.0,37850.0,NaN,NaN,NaN,1.122348e+09,1.742804e+08,-1.333716e+09,2.75
3,20250523_0010,2025-05-23 17:52:00,조현준 효성重 지분 4.9% 美 테크펀드 2600억 매각,조현준 효성 회장이 상속세 재원 마련을 위해 효성중공업 지분 4.90%를 미국의 글...,매일경제,https://n.news.naver.com/mnews/article/009/000...,https://ssl.pstatic.net/static.news/image/news...,효성중공업은 조 회장이 상속세 재원을 마련하기 위해 시간 외 매매로 효성중공업 주식...,23일 효성중공업은 조 회장이 상속세 재원을 마련하기 위해 시간 외 매매로 효성중 ...,['효성중공업'],...,600000.0,600000.0,619000.0,NaN,NaN,NaN,-4.379497e+09,2.321580e+09,1.870815e+09,2.75
4,20250523_0011,2025-05-23 17:52:00,몸집 키우는 카카오…'간편결제 빅3' 흔드나,"카카오페이, 신세계 페이 품나\n이커머스 결제 강화 점유 확대\n압도적 1위 네이버...",매일경제,https://n.news.naver.com/mnews/article/009/000...,https://imgnews.pstatic.net/image/009/2025/05/...,"카카오페이, 신세계 페이 품나 이커머스 결제 강화 점유 확대 압도적 1위 네이버에 ...",카카오페이가 신세계 이마트 측에서 쓱페이·스마일페이 인수를 추진하고 나선 건 국내 ...,['카카오페이'],...,32100.0,32100.0,37850.0,NaN,NaN,NaN,1.122348e+09,1.742804e+08,-1.333716e+09,2.75

In [86]:
bond_yield_10y = pd.read_csv('/Users/JooAnLee/final_project/eda/jooan/한국 10년 채권수익률 과거 데이터(23-25).csv')
bond_yield_10y.head()

             날짜     종가     시가     고가     저가    변동 %
0  2025- 06- 05  2.871  2.855  2.881  2.846  -0.59%
1  2025- 06- 04  2.888  2.826  2.900  2.826   3.11%
2  2025- 06- 02  2.801  2.782  2.807  2.777   0.36%
3  2025- 05- 30  2.791  2.716  2.804  2.712   2.88%
4  2025- 05- 29  2.713  2.717  2.757  2.685  -0.15%

In [87]:
bond_yield_10y['날짜'] = pd.to_datetime(bond_yield_10y['날짜'], errors='coerce')

bond_yield_10y['date_only'] = bond_yield_10y['날짜'].dt.date
df_merged['date_only'] = df_merged['wdate'].dt.date

# 4. 날짜 기준으로 merge (left join)
df_merged = df_merged.merge(
    bond_yield_10y[['date_only', '종가']],
    on='date_only',
    how='left'
)

# 5. 컬럼명 정리 및 불필요한 컬럼 제거
df_merged.rename(columns={'종가': 'bond_yield_10y'}, inplace=True)
df_merged.drop(columns=['date_only'], inplace=True)

In [88]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14087 entries, 0 to 14086
Data columns (total 37 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   news_id               14087 non-null  object
 1   wdate                 14087 non-null  datetime64[ns]
 2   title                 14087 non-null  object
 3   article               14087 non-null  object
 4   press                 14087 non-null  object
 5   url                   14087 non-null  object
 6   image                 14087 non-null  object
 7   article_preprocessed  14087 non-null  object
 8   summary               14087 non-null  object
 9   stock_list            14087 non-null  object
 10  industry_list         14087 non-null  object
 11  summary_embedding     14087 non-null  object
 12  stock_name            14087 non-null  object
 13  ticker                14040 non-null  object
 14  D_minus_30_date       14087 non-null  datetime64[ns]
 15  D_day_date            14087 non-null  datetime64[ns]
 16  D_plus_1_date         14087 non-null  datetime64[ns]
 17  D_plus_2_date         14087 non-null  datetime64[ns]
 18  D_plus_3_date         14087 non-null  datetime64[ns]
 19  D_plus_7_date         14087 non-null  datetime64[ns]
 20  D_plus_14_date        14087 non-null  datetime64[ns]
 21  D_plus_21_date        14087 non-null  datetime64[ns]
 22  D_plus_30_date        14087 non-null  datetime64[ns]
 23  D-30                  12479 non-null  float64
 24  close_D-day           13723 non-null  float64
 25  D+1                   13163 non-null  float64
 26  D+2                   13038 non-null  float64
 27  D+3                   13070 non-null  float64
 28  D+7                   12926 non-null  float64
 29  D+14                  12968 non-null  float64
 30  D+21                  12780 non-null  float64
 31  D+30                  12510 non-null  float64
 32  foreign_trading       13668 non-null  float64
 33  institution_trading   13668 non-null  float64
 34  individual_trading    13668 non-null  float64
 35  base_rate             14087 non-null  float64
 36  bond_yield_10y        13938 non-null  float64
dtypes: datetime64[ns](10), float64(14), object(13)
memory usage: 4.0+ MB

## 환율

In [90]:
pip install yfinance --upgrade --no-cache-dir

Collecting yfinance
  Downloading yfinance-0.2.61-py2.py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: pandas>=1.3.0 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from yfinance) (2.2.3)
Requirement already satisfied: numpy>=1.16.5 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from yfinance) (2.0.2)
Requirement already satisfied: requests>=2.31 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from yfinance) (2.32.3)
Collecting multitasking>=0.0.7 (from yfinance)
  Downloading multitasking-0.0.11-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: platformdirs>=2.0.0 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from yfinance) (4.3.8)
Requirement already satisfied: pytz>=2022.5 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from yfinance) (2025.2)
Collecting frozendict>=2.3.4 (from yfinance)
  Downloading frozendict-2.4.6-cp39-cp39-macosx_11_0_arm64.whl.metadata (23 kB)
Collecting peewee>=3.16.2 (from yfinance)
  Downloading peewee-3.18.1.tar.gz (3.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 13.7 MB/s eta 0:00:00a 0:00:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Collecting beautifulsoup4>=4.11.1 (from yfinance)
  Downloading beautifulsoup4-4.13.4-py3-none-any.whl.metadata (3.8 kB)
Collecting curl_cffi>=0.7 (from yfinance)
  Downloading curl_cffi-0.11.1-cp39-abi3-macosx_11_0_arm64.whl.metadata (14 kB)
Collecting protobuf>=3.19.0 (from yfinance)
  Downloading protobuf-6.31.1-cp39-abi3-macosx_10_9_universal2.whl.metadata (593 bytes)
Collecting websockets>=13.0 (from yfinance)
  Downloading websockets-15.0.1-cp39-cp39-macosx_11_0_arm64.whl.metadata (6.8 kB)
Collecting soupsieve>1.2 (from beautifulsoup4>=4.11.1->yfinance)
  Downloading soupsieve-2.7-py3-none-any.whl.metadata (4.6 kB)
Requirement already satisfied: typing-extensions>=4.0.0 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from beautifulsoup4>=4.11.1->yfinance) (4.13.2)
Requirement already satisfied: cffi>=1.12.0 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from curl_cffi>=0.7->yfinance) (1.17.1)
Requirement already satisfied: certifi>=2024.2.2 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from curl_cffi>=0.7->yfinance) (2025.4.26)
Requirement already satisfied: pycparser in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance) (2.22)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from pandas>=1.3.0->yfinance) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from requests>=2.31->yfinance) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from requests>=2.31->yfinance) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/envs/final_jn/lib/python3.9/site-packages (from requests>=2.31->yfinance) (1.26.20)
Downloading yfinance-0.2.61-py2.py3-none-any.whl (117 kB)
Downloading beautifulsoup4-4.13.4-py3-none-any.whl (187 kB)
Downloading curl_cffi-0.11.1-cp39-abi3-macosx_11_0_arm64.whl (3.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 13.7 MB/s eta 0:00:00a 0:00:01
Downloading frozendict-2.4.6-cp39-cp39-macosx_11_0_arm64.whl (37 kB)
Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Downloading protobuf-6.31.1-cp39-abi3-macosx_10_9_universal2.whl (425 kB)
Downloading soupsieve-2.7-py3-none-any.whl (36 kB)
Downloading websockets-15.0.1-cp39-cp39-macosx_11_0_arm64.whl (173 kB)
Building wheels for collected packages: peewee
  Building wheel for peewee (pyproject.toml) ... done
  Created wheel for peewee: filename=peewee-3.18.1-cp39-cp39-macosx_11_0_arm64.whl size=272062 sha256=1b4ca8630c389df140f797677538b8b762a3cbf36a1548c8f1a5d640392b36c0
  Stored in directory: /private/var/folders/qp/j1r0p9s97s16j9gzg30pscb40000gn/T/pip-ephem-wheel-cache-qioyms75/wheels/e7/09/87/1f1a87eb25af98d0a1f60ef184a9779d81c6a2e8d28bc67d7f
Successfully built peewee
Installing collected packages: peewee, multitasking, websockets, soupsieve, protobuf, frozendict, curl_cffi, beautifulsoup4, yfinance
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9/9 [yfinance]8/9 [yfinance]]
Successfully installed beautifulsoup4-4.13.4 curl_cffi-0.11.1 frozendict-2.4.6 multitasking-0.0.11 peewee-3.18.1 protobuf-6.31.1 soupsieve-2.7 websockets-15.0.1 yfinance-0.2.61
Note: you may need to restart the kernel to use updated packages.

In [92]:
import yfinance as yf

# USD/KRW 환율 데이터 다운로드
won_dollar = yf.download("KRW=X")

# 최신 환율(종가) 출력
won_dollar.tail()

[*********************100%***********************]  1 of 1 completed

Price             Close         High          Low         Open Volume
Ticker            KRW=X        KRW=X        KRW=X        KRW=X  KRW=X
Date
2025-05-30  1370.410034  1382.329956  1368.010010  1370.410034      0
2025-06-02  1381.989990  1381.989990  1370.670044  1381.989990      0
2025-06-03  1376.069946  1380.180054  1372.819946  1376.069946      0
2025-06-04  1377.719971  1377.719971  1361.489990  1377.719971      0
2025-06-05  1358.380005  1364.280029  1353.969971  1360.079956      0

In [106]:
import pandas as pd

# 1. 중복 컬럼 제거
if 'level_0' in won_dollar.columns or ('level_0', '') in won_dollar.columns:
    won_dollar = won_dollar.drop(columns=['level_0'], errors='ignore')

# won_dollar가 MultiIndex 컬럼이면 1단계로 변환
if isinstance(won_dollar.columns, pd.MultiIndex):
    # 예: ('Close', 'KRW=X') → 'Close'
    won_dollar.columns = [col[0] for col in won_dollar.columns]

# Date 인덱스를 컬럼으로 변환
won_dollar = won_dollar.reset_index()  # Date 컬럼 생성

# 날짜 타입 맞추기
df_merged['wdate'] = pd.to_datetime(df_merged['wdate']).dt.date
won_dollar['Date'] = pd.to_datetime(won_dollar['Date']).dt.date

# merge
merged_df = pd.merge(df_merged, won_dollar[['Date', 'Close']], left_on='wdate', right_on='Date', how='left')

# 환율 컬럼명 변경
merged_df.rename(columns={'Close': 'won_dollar'}, inplace=True)
merged_df.drop(columns=['Date'], inplace=True)

# 결과 확인
print(merged_df.head())

         news_id       wdate  \
0  20250523_0002  2025-05-23
1  20250523_0004  2025-05-23
2  20250523_0007  2025-05-23
3  20250523_0010  2025-05-23
4  20250523_0011  2025-05-23

                                              title  \
0  [단독] 카카오페이, 2500만 회원 쓱·스마일페이 품나…간편결제 시장 빅3 경쟁 후끈
1                     골드만삭스 차기 CEO, 이재용·김병주·이창용 만났다
2                 [단독] 전자결제 강자 카카오페이 쓱·스마일 페이 인수 추진
3                   조현준 효성重 지분 4.9% 美 테크펀드 2600억 매각
4                          몸집 키우는 카카오…'간편결제 빅3' 흔드나

                                             article press  \
0  매각가 5000억 안팎 달할듯\n결제시장 내 입지강화 포석\n카카오페이 [사진 = ...  매일경제
1  [사진=연합뉴스]\n세계 2위 투자은행(IB)인 골드만삭스의 사장 겸 최고운영책임자...  매일경제
2  국내 대표 전자결제사업자인 카카오페이가 신세계이마트 산하 간편결제사업부 인수에 나섰...  매일경제
3  조현준 효성 회장이 상속세 재원 마련을 위해 효성중공업 지분 4.90%를 미국의 글...  매일경제
4  카카오페이, 신세계 페이 품나\n이커머스 결제 강화 점유 확대\n압도적 1위 네이버...  매일경제

                                                 url  \
0  https://n.news.naver.com/mnews/article/009/000...
1  https://n.news.naver.com/mnews/article/009/000...
2  https://n.news.naver.com/mnews/article/009/000...
3  https://n.news.naver.com/mnews/article/009/000...
4  https://n.news.naver.com/mnews/article/009/000...

                                               image  \
0  https://imgnews.pstatic.net/image/009/2025/05/...
1  https://imgnews.pstatic.net/image/009/2025/05/...
2  https://ssl.pstatic.net/static.news/image/news...
3  https://ssl.pstatic.net/static.news/image/news...
4  https://imgnews.pstatic.net/image/009/2025/05/...

                                article_preprocessed  \
0  매각가 5000억 안팎 달할듯 결제시장 내 입지강화 포석 카카오페이  국내 대표 전...
1  세계 2위 투자은행(IB)인 골드만삭스의 사장 겸 최고운영책임자(COO)인 존 월드...
2  국내 대표 전자결제사업자인 카카오페이가 신세계이마트 산하 간편결제사업부 인수에 나섰...
3  효성중공업은 조 회장이 상속세 재원을 마련하기 위해 시간 외 매매로 효성중공업 주식...
4  카카오페이, 신세계 페이 품나 이커머스 결제 강화 점유 확대 압도적 1위 네이버에 ...

                                             summary stock_list  ...  \
0  23일 정보기술(IT)·투자은행(IB) 업계에 따르면 국내 대표 전자결제사업자인 카...  ['카카오페이']  ...
1  세계 2위 투자은행(IB)인 골드만삭스의 사장 겸 최고운영책임자(COO)인 존 월드...   ['삼성전자']  ...
2  23일 정보기술(IT)·투자은행(IB) 업계에 따르면 카카오페이가 SSG닷컴 쓱페이...  ['카카오페이']  ...
3  23일 효성중공업은 조 회장이 상속세 재원을 마련하기 위해 시간 외 매매로 효성중 ...  ['효성중공업']  ...
4  카카오페이가 신세계 이마트 측에서 쓱페이·스마일페이 인수를 추진하고 나선 건 국내 ...  ['카카오페이']  ...

        D+7 D+14 D+21 D+30 foreign_trading institution_trading  \
0   37850.0  NaN  NaN  NaN    1.122348e+09        1.742804e+08
1   56200.0  NaN  NaN  NaN   -1.425082e+11       -5.334769e+10
2   37850.0  NaN  NaN  NaN    1.122348e+09        1.742804e+08
3  619000.0  NaN  NaN  NaN   -4.379497e+09        2.321580e+09
4   37850.0  NaN  NaN  NaN    1.122348e+09        1.742804e+08

  individual_trading base_rate bond_yield_10y   won_dollar
0      -1.333716e+09      2.75          2.755  1381.339966
1       1.864062e+11      2.75          2.755  1381.339966
2      -1.333716e+09      2.75          2.755  1381.339966
3       1.870815e+09      2.75          2.755  1381.339966
4      -1.333716e+09      2.75          2.755  1381.339966

[5 rows x 38 columns]

In [107]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14087 entries, 0 to 14086
Data columns (total 38 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   news_id               14087 non-null  object
 1   wdate                 14087 non-null  object
 2   title                 14087 non-null  object
 3   article               14087 non-null  object
 4   press                 14087 non-null  object
 5   url                   14087 non-null  object
 6   image                 14087 non-null  object
 7   article_preprocessed  14087 non-null  object
 8   summary               14087 non-null  object
 9   stock_list            14087 non-null  object
 10  industry_list         14087 non-null  object
 11  summary_embedding     14087 non-null  object
 12  stock_name            14087 non-null  object
 13  ticker                14040 non-null  object
 14  D_minus_30_date       14087 non-null  datetime64[ns]
 15  D_day_date            14087 non-null  datetime64[ns]
 16  D_plus_1_date         14087 non-null  datetime64[ns]
 17  D_plus_2_date         14087 non-null  datetime64[ns]
 18  D_plus_3_date         14087 non-null  datetime64[ns]
 19  D_plus_7_date         14087 non-null  datetime64[ns]
 20  D_plus_14_date        14087 non-null  datetime64[ns]
 21  D_plus_21_date        14087 non-null  datetime64[ns]
 22  D_plus_30_date        14087 non-null  datetime64[ns]
 23  D-30                  12479 non-null  float64
 24  close_D-day           13723 non-null  float64
 25  D+1                   13163 non-null  float64
 26  D+2                   13038 non-null  float64
 27  D+3                   13070 non-null  float64
 28  D+7                   12926 non-null  float64
 29  D+14                  12968 non-null  float64
 30  D+21                  12780 non-null  float64
 31  D+30                  12510 non-null  float64
 32  foreign_trading       13668 non-null  float64
 33  institution_trading   13668 non-null  float64
 34  individual_trading    13668 non-null  float64
 35  base_rate             14087 non-null  float64
 36  bond_yield_10y        13938 non-null  float64
 37  won_dollar            14007 non-null  float64
dtypes: datetime64[ns](9), float64(15), object(14)
memory usage: 4.1+ MB

In [108]:
# 거래량, 등락률 (뉴스 발행일 기준)
merged_df['D-day_volume'] = merged_df.apply(lambda row: get_ohlcv_val(row['ticker'], row['D_day_date'], '거래량'), axis=1)
merged_df['D-day_change'] = merged_df.apply(lambda row: get_ohlcv_val(row['ticker'], row['D_day_date'], '등락률'), axis=1)

In [109]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14087 entries, 0 to 14086
Data columns (total 40 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   news_id               14087 non-null  object
 1   wdate                 14087 non-null  object
 2   title                 14087 non-null  object
 3   article               14087 non-null  object
 4   press                 14087 non-null  object
 5   url                   14087 non-null  object
 6   image                 14087 non-null  object
 7   article_preprocessed  14087 non-null  object
 8   summary               14087 non-null  object
 9   stock_list            14087 non-null  object
 10  industry_list         14087 non-null  object
 11  summary_embedding     14087 non-null  object
 12  stock_name            14087 non-null  object
 13  ticker                14040 non-null  object
 14  D_minus_30_date       14087 non-null  datetime64[ns]
 15  D_day_date            14087 non-null  datetime64[ns]
 16  D_plus_1_date         14087 non-null  datetime64[ns]
 17  D_plus_2_date         14087 non-null  datetime64[ns]
 18  D_plus_3_date         14087 non-null  datetime64[ns]
 19  D_plus_7_date         14087 non-null  datetime64[ns]
 20  D_plus_14_date        14087 non-null  datetime64[ns]
 21  D_plus_21_date        14087 non-null  datetime64[ns]
 22  D_plus_30_date        14087 non-null  datetime64[ns]
 23  D-30                  12479 non-null  float64
 24  close_D-day           13723 non-null  float64
 25  D+1                   13163 non-null  float64
 26  D+2                   13038 non-null  float64
 27  D+3                   13070 non-null  float64
 28  D+7                   12926 non-null  float64
 29  D+14                  12968 non-null  float64
 30  D+21                  12780 non-null  float64
 31  D+30                  12510 non-null  float64
 32  foreign_trading       13668 non-null  float64
 33  institution_trading   13668 non-null  float64
 34  individual_trading    13668 non-null  float64
 35  base_rate             14087 non-null  float64
 36  bond_yield_10y        13938 non-null  float64
 37  won_dollar            14007 non-null  float64
 38  D-day_volume          13723 non-null  float64
 39  D-day_change          13679 non-null  float64
dtypes: datetime64[ns](9), float64(17), object(14)
memory usage: 4.3+ MB

In [110]:
# NaN이 하나라도 있는 행의 개수
num_rows_with_nan = merged_df.isnull().any(axis=1).sum()
print(f"NaN이 하나라도 있는 행의 개수: {num_rows_with_nan}")

NaN이 하나라도 있는 행의 개수: 6438

In [ ]:
print(merged_df.isnull().sum().sort_values(ascending=False))

D-30                    1608
D+30                    1577
D+21                    1307
D+7                     1161
D+14                    1119
D+2                     1049
D+3                     1017
D+1                      924
individual_trading       419
institution_trading      419
foreign_trading          419
D-day_change             408
close_D-day              364
D-day_volume             364
bond_yield_10y           149
won_dollar                80
ticker                    47
D_plus_21_date             0
base_rate                  0
D_plus_30_date             0
news_id                    0
wdate                      0
stock_list                 0
title                      0
article                    0
press                      0
url                        0
image                      0
article_preprocessed       0
summary                    0
industry_list              0
D_plus_7_date              0
summary_embedding          0
stock_name                 0
D_minus_30_date            0
D_day_date                 0
D_plus_1_date              0
D_plus_2_date              0
D_plus_3_date              0
D_plus_14_date             0
dtype: int64

In [112]:
# D-30 컬럼을 제거한 새로운 데이터프레임 생성
merged_df2 = merged_df.drop(columns=['D-30'])

# NaN이 하나라도 있는 행 개수 확인
num_rows_with_nan_merged_df2 = merged_df2.isnull().any(axis=1).sum()

print(f"NaN이 하나라도 있는 행의 개수 (D-30 컬럼 제외): {num_rows_with_nan_merged_df2}")

NaN이 하나라도 있는 행의 개수 (D-30 컬럼 제외): 5665

In [113]:
merged_df3 = merged_df2.drop(columns=['D+30'])

# NaN이 하나라도 있는 행 개수 확인
num_rows_with_nan_merged_df3 = merged_df3.isnull().any(axis=1).sum()

print(f"NaN이 하나라도 있는 행의 개수 (D-30 컬럼 제외): {num_rows_with_nan_merged_df3}")

NaN이 하나라도 있는 행의 개수 (D-30 컬럼 제외): 4643

In [115]:
num_complete_rows = (merged_df3.notnull().all(axis=1)).sum()
print(num_complete_rows)

9444

In [116]:
# D+21 컬럼을 제거한 새로운 데이터프레임 생성
merged_df4 = merged_df3.drop(columns=['D+21'])

# NaN이 하나라도 있는 행 개수 확인
num_rows_with_nan_merged_df4 = merged_df4.isnull().any(axis=1).sum()

print(f"NaN이 하나라도 있는 행의 개수 (D-30 컬럼 제외): {num_rows_with_nan_merged_df4}")

NaN이 하나라도 있는 행의 개수 (D-30 컬럼 제외): 3692

In [117]:
num_complete_rows = (merged_df4.notnull().all(axis=1)).sum()
print(num_complete_rows)

10395

## merged_df4

In [119]:
merged_df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14087 entries, 0 to 14086
Data columns (total 37 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   news_id               14087 non-null  object
 1   wdate                 14087 non-null  object
 2   title                 14087 non-null  object
 3   article               14087 non-null  object
 4   press                 14087 non-null  object
 5   url                   14087 non-null  object
 6   image                 14087 non-null  object
 7   article_preprocessed  14087 non-null  object
 8   summary               14087 non-null  object
 9   stock_list            14087 non-null  object
 10  industry_list         14087 non-null  object
 11  summary_embedding     14087 non-null  object
 12  stock_name            14087 non-null  object
 13  ticker                14040 non-null  object
 14  D_minus_30_date       14087 non-null  datetime64[ns]
 15  D_day_date            14087 non-null  datetime64[ns]
 16  D_plus_1_date         14087 non-null  datetime64[ns]
 17  D_plus_2_date         14087 non-null  datetime64[ns]
 18  D_plus_3_date         14087 non-null  datetime64[ns]
 19  D_plus_7_date         14087 non-null  datetime64[ns]
 20  D_plus_14_date        14087 non-null  datetime64[ns]
 21  D_plus_21_date        14087 non-null  datetime64[ns]
 22  D_plus_30_date        14087 non-null  datetime64[ns]
 23  close_D-day           13723 non-null  float64
 24  D+1                   13163 non-null  float64
 25  D+2                   13038 non-null  float64
 26  D+3                   13070 non-null  float64
 27  D+7                   12926 non-null  float64
 28  D+14                  12968 non-null  float64
 29  foreign_trading       13668 non-null  float64
 30  institution_trading   13668 non-null  float64
 31  individual_trading    13668 non-null  float64
 32  base_rate             14087 non-null  float64
 33  bond_yield_10y        13938 non-null  float64
 34  won_dollar            14007 non-null  float64
 35  D-day_volume          13723 non-null  float64
 36  D-day_change          13679 non-null  float64
dtypes: datetime64[ns](9), float64(14), object(14)
memory usage: 4.0+ MB

In [120]:
# 제거할 날짜 컬럼 리스트
date_cols = [
    'D_minus_30_date', 'D_day_date', 'D_plus_1_date', 'D_plus_2_date',
    'D_plus_3_date', 'D_plus_7_date', 'D_plus_14_date', 'D_plus_21_date', 'D_plus_30_date'
]

# 컬럼 제거 후 새로운 데이터프레임 생성
final_df = merged_df4.drop(columns=date_cols)

# 결과 확인
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14087 entries, 0 to 14086
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   news_id               14087 non-null  object
 1   wdate                 14087 non-null  object
 2   title                 14087 non-null  object
 3   article               14087 non-null  object
 4   press                 14087 non-null  object
 5   url                   14087 non-null  object
 6   image                 14087 non-null  object
 7   article_preprocessed  14087 non-null  object
 8   summary               14087 non-null  object
 9   stock_list            14087 non-null  object
 10  industry_list         14087 non-null  object
 11  summary_embedding     14087 non-null  object
 12  stock_name            14087 non-null  object
 13  ticker                14040 non-null  object
 14  close_D-day           13723 non-null  float64
 15  D+1                   13163 non-null  float64
 16  D+2                   13038 non-null  float64
 17  D+3                   13070 non-null  float64
 18  D+7                   12926 non-null  float64
 19  D+14                  12968 non-null  float64
 20  foreign_trading       13668 non-null  float64
 21  institution_trading   13668 non-null  float64
 22  individual_trading    13668 non-null  float64
 23  base_rate             14087 non-null  float64
 24  bond_yield_10y        13938 non-null  float64
 25  won_dollar            14007 non-null  float64
 26  D-day_volume          13723 non-null  float64
 27  D-day_change          13679 non-null  float64
dtypes: float64(14), object(14)
memory usage: 3.0+ MB

In [121]:
num_rows_with_nan = final_df.isnull().any(axis=1).sum()
print(f"NaN이 하나라도 있는 행의 개수: {num_rows_with_nan}")

# NaN이 없는 행의 개수
num_complete_rows = final_df.notnull().all(axis=1).sum()
print(f"NaN이 없는 행의 개수: {num_complete_rows}")

NaN이 하나라도 있는 행의 개수: 3692
NaN이 없는 행의 개수: 10395

In [122]:
# NaN이 하나라도 있는 행 모두 제거
final_df_clean = final_df.dropna()

# 결과 확인
print(final_df_clean.info())
print(f"NaN이 하나라도 있는 행을 제거한 후 남은 행 개수: {len(final_df_clean)}")

<class 'pandas.core.frame.DataFrame'>
Index: 10395 entries, 23 to 14081
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   news_id               10395 non-null  object
 1   wdate                 10395 non-null  object
 2   title                 10395 non-null  object
 3   article               10395 non-null  object
 4   press                 10395 non-null  object
 5   url                   10395 non-null  object
 6   image                 10395 non-null  object
 7   article_preprocessed  10395 non-null  object
 8   summary               10395 non-null  object
 9   stock_list            10395 non-null  object
 10  industry_list         10395 non-null  object
 11  summary_embedding     10395 non-null  object
 12  stock_name            10395 non-null  object
 13  ticker                10395 non-null  object
 14  close_D-day           10395 non-null  float64
 15  D+1                   10395 non-null  float64
 16  D+2                   10395 non-null  float64
 17  D+3                   10395 non-null  float64
 18  D+7                   10395 non-null  float64
 19  D+14                  10395 non-null  float64
 20  foreign_trading       10395 non-null  float64
 21  institution_trading   10395 non-null  float64
 22  individual_trading    10395 non-null  float64
 23  base_rate             10395 non-null  float64
 24  bond_yield_10y        10395 non-null  float64
 25  won_dollar            10395 non-null  float64
 26  D-day_volume          10395 non-null  float64
 27  D-day_change          10395 non-null  float64
dtypes: float64(14), object(14)
memory usage: 2.3+ MB
None
NaN이 하나라도 있는 행을 제거한 후 남은 행 개수: 10395

In [124]:
# final_df를 CSV로 저장
final_df_clean.to_csv("news+external_2023_2025_ver2.csv", index=False)